workflows/01-collector.json
{
  "id": "eZ8rN5JuEt5lJ138",
  "name": "01 수집기 (Collector)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "c8677b4f-1ad5-4fc5-978c-7a9db9a29dd5",
      "name": "매일 09시 트리거",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03e9fde7-62dd-44f9-b148-72d4cd451f98",
              "name": "keywords",
              "value": "={{ $env.SEARCH_KEYWORDS.split(',') }}",
              "type": "array"
            },
            {
              "id": "94cf4c88-e4e1-4949-965e-372fbb9689e5",
              "name": "maxPages",
              "value": 9999,
              "type": "number"
            },
            {
              "id": "26b23a3a-a356-4c82-a097-de4a4d18e72e",
              "name": "allowedWantedCategories",
              "value": "={{ [518, 507] }}",
              "type": "array"
            },
            {
              "id": "24408dd1-ab37-48c3-999e-20c5ca59f97b",
              "name": "maxCareerYears",
              "value": 2,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "05434b2a-c68f-4ea6-a0b8-52fc9197d922",
      "name": "설정 (Config)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 정규화 공고를 pending으로 bulk INSERT하는 SQL 생성 (within-run 중복 제거 + ON CONFLICT).\nconst esc = (v) => v == null ? 'NULL' : `'${String(v).replace(/'/g, \"''\")}'`;\nconst num = (v) => (v == null || v === '') ? 'NULL' : (Number.isFinite(Number(v)) ? Number(v) : 'NULL');\nconst arr = (list) => { const a = (list || []).map(s => `'${String(s).replace(/'/g, \"''\")}'`); return a.length ? `ARRAY[${a.join(',')}]::text[]` : `'{}'::text[]`; };\nconst seen = new Set();\nconst rows = [];\nfor (const it of $input.all()) {\n  const m = it.json;\n  const key = `${m.source}:${m.jobId}`;\n  if (!m.jobId || seen.has(key)) continue;   // 이번 실행 내 중복 제거(bulk insert 중복 target 방지)\n  seen.add(key);\n  rows.push(`(${esc(m.source)},${esc(m.jobId)},${esc(m.company)},${esc(m.title)},${esc(m.url)},${num(m.minCareer)},${num(m.maxCareer)},${arr(m.techStacks)},${esc((m.locations || []).join(', '))},${m.closedAt ? esc(m.closedAt) : 'NULL'})`);\n}\nif (rows.length === 0) return [];\nconst sql = `INSERT INTO jobs (source,job_id,company,title,url,min_career,max_career,tech_stacks,locations,closed_at) VALUES ${rows.join(',')} ON CONFLICT (source,job_id) DO NOTHING;`;\nreturn [{ json: { sql, count: rows.length } }];"
      },
      "id": "46a8d6c3-e1a5-46a0-954d-0e67fcd1af5d",
      "name": "INSERT SQL 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "99963c0c-1e34-4816-a06d-68f6a2f96175",
      "name": "pending 적재",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1320,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "NIMisLmbrBSfv9Nt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 수집기 (Collector)\n각 키워드/직군을 page1부터 **빈 페이지까지 자동 페이지네이션**.\n가져오며 제목필터+연차필터 적용 → pending 적재.\n\n- maxPages: **안전 상한**(실제론 빈 페이지에서 자동 종료)\n- 원티드=navigation(연차·페이지네이션), 점프잇=키워드검색\n- ON CONFLICT로 중복 자동 스킵",
        "height": 220,
        "width": 320,
        "color": 4
      },
      "id": "b39a5e4a-ed45-4d13-bb97-caaac3bace8e",
      "name": "메모: 수집기",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "// 자동 페이지네이션: 각 키워드/직군을 page 1부터 \"빈 결과 나올 때까지\" 가져온다.\n// (maxPages는 안전 상한으로만 작동. 실제로는 빈 페이지에서 자동 종료.)\n// 가져오면서 바로 정규화 + 제목필터 + 연차필터 적용.\nconst cfg = $('설정 (Config)').first().json;\nconst keywords = cfg.keywords || [];\nconst cats = cfg.allowedWantedCategories || [518, 507];\nconst cap = Math.max(1, Number(cfg.maxPages) || 100);   // 안전 상한(페이지)\nconst maxYears = Number(cfg.maxCareerYears);\nconst UA = { 'User-Agent': 'Mozilla/5.0' };\n\nconst stripTags = (s) => (s || '').replace(/<[^>]*>/g, '').trim();\nconst escRe = (s) => s.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\nconst titleHit = (t) => keywords.some(kw => new RegExp('(^|[^A-Za-z0-9])' + escRe(kw) + '([^A-Za-z0-9]|$)', 'i').test(t || ''));\nconst careerOk = (mc) => !Number.isFinite(maxYears) || mc == null || mc <= maxYears;\n\nconst out = [];\n\n// ── 점프잇: 키워드별 page 페이지네이션 ──\nfor (const kw of keywords) {\n  const q = encodeURIComponent(kw);\n  for (let page = 1; page <= cap; page++) {\n    let r;\n    try { r = await this.helpers.httpRequest({ url: `https://jumpit-api.saramin.co.kr/api/positions?keyword=${q}&sort=relation&page=${page}`, headers: UA, json: true }); }\n    catch (e) { break; }\n    const pos = r?.result?.positions || [];\n    if (pos.length === 0) break;                    // 빈 페이지 → 이 키워드 종료\n    for (const p of pos) {\n      const title = stripTags(p.title);\n      const minCareer = p.minCareer ?? null;\n      if (!titleHit(title) || !careerOk(minCareer)) continue;\n      out.push({ json: { source:'jumpit', jobId:String(p.id ?? ''), company:p.companyName ?? '', title,\n        url:`https://jumpit.saramin.co.kr/position/${p.id}`, minCareer, maxCareer:p.maxCareer ?? null,\n        techStacks:(p.techStacks||[]).map(t=>stripTags(typeof t==='string'?t:(t.stack??t.name??''))),\n        locations:p.locations??[], closedAt:p.closedAt??null } });\n    }\n  }\n}\n\n// ── 원티드: navigation 직군별 offset 페이지네이션 ──\nfor (const cat of cats) {\n  for (let page = 1; page <= cap; page++) {\n    const offset = (page - 1) * 20;\n    let r;\n    try { r = await this.helpers.httpRequest({ url: `https://www.wanted.co.kr/api/chaos/navigation/v1/results?job_group_id=${cat}&country=kr&job_sort=job.latest_order&locations=all&years=-1&limit=20&offset=${offset}`, headers: UA, json: true }); }\n    catch (e) { break; }\n    const data = r?.data || [];\n    if (data.length === 0) break;                   // 빈 결과 → 이 직군 종료\n    for (const p of data) {\n      const pid = p.category_tag?.parent_id;\n      if (cats.length && pid != null && !cats.includes(pid)) continue;\n      const title = p.position ?? '';\n      const minCareer = p.annual_from ?? null;\n      let maxCareer = p.annual_to ?? null;\n      if (maxCareer != null && maxCareer > 20) maxCareer = null;\n      if (!titleHit(title) || !careerOk(minCareer)) continue;\n      out.push({ json: { source:'wanted', jobId:String(p.id ?? ''), company:p.company?.name ?? '', title,\n        url:`https://www.wanted.co.kr/wd/${p.id}`, minCareer, maxCareer,\n        techStacks:(p.skill_tags||[]).map(t=>stripTags(typeof t==='string'?t:(t.title??t.name??''))),\n        locations:(p.address?[[p.address.location,p.address.district].filter(Boolean).join(' ')].filter(Boolean):[]), closedAt:p.due_time??null } });\n    }\n  }\n}\n\nreturn out;"
      },
      "id": "66a2cc04-5e48-450d-ad47-670c2faa6229",
      "name": "수집·정규화 (자동 페이지네이션)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    }
  ],
  "connections": {
    "매일 09시 트리거": {
      "main": [
        [
          {
            "node": "설정 (Config)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "설정 (Config)": {
      "main": [
        [
          {
            "node": "수집·정규화 (자동 페이지네이션)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "수집·정규화 (자동 페이지네이션)": {
      "main": [
        [
          {
            "node": "INSERT SQL 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT SQL 생성": {
      "main": [
        [
          {
            "node": "pending 적재",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
