workflows/02-worker.json
{
  "id": "hEGiw51TDAuCHK3Q",
  "name": "02 мЫМмї§ (Worker)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "f2bdf87e-44e1-4a8a-b904-9018e1e6e7ee",
      "name": "5лґДлІИлЛ§ нКЄл¶ђк±∞",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06b0196c-e833-4974-b30d-a774d572e19f",
              "name": "batchSize",
              "value": 20,
              "type": "number"
            },
            {
              "id": "fefeb628-ae35-4279-9a7d-4c37b537d5b8",
              "name": "model",
              "value": "kanana-1.5-8b-instruct-2505-mlx",
              "type": "string"
            },
            {
              "id": "74fdacf5-7233-400f-9b6b-48e4b293b082",
              "name": "maxAttempts",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "b23ce130-8305-4b19-a6e9-b13dbb107687",
      "name": "мД§м†Х (Config)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, source, job_id, company, title, url, min_career, max_career, attempts FROM jobs WHERE status='pending' ORDER BY collected_at LIMIT {{ $json.batchSize }}",
        "options": {}
      },
      "id": "276fefe1-4d90-4d24-8fff-ea9dd36e327a",
      "name": "pending л∞∞мєШ м°∞нЪМ",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        440,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "NIMisLmbrBSfv9Nt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.source === 'jumpit' ? 'https://jumpit-api.saramin.co.kr/api/position/' + $json.job_id : 'https://www.wanted.co.kr/api/chaos/jobs/v4/' + $json.job_id + '/details?country=kr' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 4,
              "batchInterval": 300
            }
          }
        }
      },
      "id": "b7167324-f550-482e-8321-88a671e88773",
      "name": "мГБмДЄ м°∞нЪМ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "// pending л∞∞мєШмЭШ мГБмДЄл•Љ нММмЛ±нХі мЪФмХљ нФДл°ђнФДнКЄ мГЭмД±. (мЧ∞м∞® нХДнД∞лКФ мИШмІСкЄ∞л°Ь мЭілПЩлР®)\n// [All Items] SELECT к≤∞к≥Љ(rows)мЩА мГБмДЄм°∞нЪМ($input)л•Љ мЭЄлН±мК§л°Ь мІЭмІУлКФлЛ§.\nconst rows = $('pending л∞∞мєШ м°∞нЪМ').all();\nconst details = $input.all();\nconst out = [];\nfor (let i = 0; i < rows.length; i++) {\n  const r = rows[i].json;\n  const d = details[i]?.json || {};\n  let responsibility = '', qualifications = '', preferred = '', ok = true;\n  if (d.result) {\n    responsibility = d.result.responsibility || '';\n    qualifications = d.result.qualifications || '';\n    preferred      = d.result.preferredRequirements || '';\n  } else if (d.data?.job?.detail) {\n    const det = d.data.job.detail;\n    responsibility = det.main_tasks || det.intro || '';\n    qualifications = det.requirements || '';\n    preferred      = det.preferred_points || '';\n  } else { ok = false; }                  // мГБмДЄ нММмЛ± мЛ§нМ® вЖТ fail\n\n  const action = ok ? 'summarize' : 'fail';\n  const prompt = `м†Ьл™©: ${r.title}\\nнЪМмВђ: ${r.company}\\n\\n[м£ЉмЪФмЧЕлђі]\\n${responsibility}\\n\\n[мЮРк≤©мЪФк±і]\\n${qualifications}\\n\\n[мЪ∞лМАмВђнХ≠]\\n${preferred}`;\n  out.push({ json: { id: r.id, source: r.source, job_id: r.job_id, company: r.company, title: r.title, url: r.url, attempts: r.attempts, action, prompt } });\n}\nreturn out;"
      },
      "id": "580ea71c-a30b-4c92-a161-d7e93bfe1640",
      "name": "м≤Шл¶ђ м§АлєД",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3403224-9f17-4b57-bfaf-2e7515bd0159",
              "leftValue": "={{ $json.action }}",
              "rightValue": "summarize",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c742f664-023b-4d36-8032-7db83e89cfa8",
      "name": "мЪФмХљ лМАмГБ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $('мД§м†Х (Config)').first().json.model, messages: [ { role: 'system', content: 'лДИлКФ м±ДмЪ©к≥µк≥†л•Љ 3м§Дл°Ь мЪФмХљнХШк≥† нХµмЛђ мЮРк≤©мЪФк±імЭД лљСлКФ лПДмЪ∞лѓЄлЛ§. лЛµл≥АмЭШ лІ® лІИмІАлІЙ м§ДмЧР л∞ШлУЬмЛЬ \\'кЄ∞мИ†мК§нГЭ: нВ§мЫМлУЬ1, нВ§мЫМлУЬ2\\' нШХмЛЭмЬЉл°Ь к≥µк≥†мЧР лУ±мЮ•нХЬ кЄ∞мИ† мК§нГЭмЭД мЙЉнСЬл°Ь кµђлґДнХі лВШмЧінХШлЭЉ.' }, { role: 'user', content: $json.prompt } ], temperature: 0.3, max_tokens: 800, tools: [] }) }}",
        "options": {}
      },
      "id": "abadd019-71a8-4e19-9994-2f1ad8475525",
      "name": "AI мЪФмХљ (LM Studio)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        180
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// мЪФмХљ мД±к≥µ вЖТ done UPDATE, мЛ§нМ®(лєИ мЭСлЛµ) вЖТ мЮђмЛЬлПД мЇ°. [Each Item]\n// (мЧ∞м∞®/кЄ∞мИ†мК§нГЭмЭА мИШмІС лЛ®к≥ДмЧРмДЬ мЭілѓЄ м†АмЮ•лР®. мЪФмХљмЧРмДЬ кЄ∞мИ†мК§нГЭ л≥імЩДлІМ.)\nconst m = $('м≤Шл¶ђ м§АлєД').item.json;\nconst content = $json.choices?.[0]?.message?.content;\nconst esc = (v) => v == null ? 'NULL' : `'${String(v).replace(/'/g, \"''\")}'`;\nconst arr = (list) => { const a = (list || []).map(s => `'${String(s).replace(/'/g, \"''\")}'`); return a.length ? `ARRAY[${a.join(',')}]::text[]` : `'{}'::text[]`; };\nlet sql;\nif (content) {\n  let stacks = []; const mm = content.match(/кЄ∞мИ†мК§нГЭ\\s*[:пЉЪ]\\s*(.+)/);\n  if (mm) stacks = mm[1].split(/[,¬Ј]/).map(s => s.trim()).filter(Boolean);\n  // мИШмІС лХМ м±ДмЪі tech_stacksк∞А мЮИмЬЉл©і мЬ†мІА, мЧЖмЬЉл©і(мЫРнЛ∞лУЬ лУ±) мЪФмХљмЧРмДЬ мґФмґЬнХЬ к≤ГмЬЉл°Ь\n  sql = `UPDATE jobs SET status='done', summary=${esc(content)}, tech_stacks=CASE WHEN cardinality(tech_stacks)>0 THEN tech_stacks ELSE ${arr(stacks)} END, attempts=attempts+1, updated_at=now() WHERE source=${esc(m.source)} AND job_id=${esc(m.job_id)};`;\n} else {\n  const maxAtt = Number($('мД§м†Х (Config)').first().json.maxAttempts) || 3;\n  sql = `UPDATE jobs SET status=CASE WHEN attempts+1 >= ${maxAtt} THEN 'failed' ELSE 'pending' END, attempts=attempts+1, updated_at=now() WHERE source=${esc(m.source)} AND job_id=${esc(m.job_id)};`;\n}\nreturn { json: { sql } };"
      },
      "id": "c2b18bce-5601-4f38-9c37-0d2368fbfdf7",
      "name": "мЩДл£М UPDATE мГЭмД±",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "0d45eb64-c611-4b7b-b0d3-0b0155abf6f8",
      "name": "done UPDATE мЛ§нЦЙ",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        180
      ],
      "credentials": {
        "postgres": {
          "id": "NIMisLmbrBSfv9Nt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// skip(мЧ∞м∞®м†ЬмЩЄ) вЖТ 'skipped', fail(мГБмДЄмЛ§нМ®) вЖТ мЮђмЛЬлПД мЇ°. [Each Item]\nconst m = $json;\nconst esc = (v) => v == null ? 'NULL' : `'${String(v).replace(/'/g, \"''\")}'`;\nconst maxAtt = Number($('мД§м†Х (Config)').first().json.maxAttempts) || 3;\nlet sql;\nif (m.action === 'skip') {\n  sql = `UPDATE jobs SET status='skipped', attempts=attempts+1, updated_at=now() WHERE source=${esc(m.source)} AND job_id=${esc(m.job_id)};`;\n} else {\n  sql = `UPDATE jobs SET status=CASE WHEN attempts+1 >= ${maxAtt} THEN 'failed' ELSE 'pending' END, attempts=attempts+1, updated_at=now() WHERE source=${esc(m.source)} AND job_id=${esc(m.job_id)};`;\n}\nreturn { json: { sql } };"
      },
      "id": "0403f9b9-6e14-4ff2-912f-0fb139f6a9ef",
      "name": "мК§нВµ/мЛ§нМ® UPDATE мГЭмД±",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "602cf7ef-e1b2-4c27-a05c-6e2cf31b3126",
      "name": "skip/fail UPDATE мЛ§нЦЙ",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1540,
        440
      ],
      "credentials": {
        "postgres": {
          "id": "NIMisLmbrBSfv9Nt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "### мЫМмї§ (Worker)\npending л∞∞мєШл•Љ кЇЉлВі мГБмДЄм°∞нЪМ+мЧ∞м∞®нХДнД∞+AIмЪФмХљ вЖТ\n`done`/`skipped`/`failed`л°Ь UPDATE. 5лґДлІИлЛ§ нБРл•Љ мЖМлєД.\n\n- batchSize: нХЬ л≤ИмЧР м≤Шл¶ђнХ† к±імИШ\n- maxCareerYears: лВЃмґФл©і мЧ∞м∞®нХДнД∞ нЩЬмД±(кЄ∞л≥Є 99=off)\n- LLM мЛ§нМ®лКФ attemptsл°Ь мЮђмЛЬлПД, maxAttempts міИк≥Љ мЛЬ failed\n- мХМл¶Љ(лФФмК§мљФлУЬ)мЭА л≥ДлПД notifierк∞А doneмЭД мЭљмЦі м†ДмЖ°(лЛ§мЭМ лЛ®к≥Д)",
        "height": 240,
        "width": 340,
        "color": 5
      },
      "id": "5a06cdf8-5480-49b1-9b41-15a22fafdd36",
      "name": "л©Фл™®: мЫМмї§",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        20
      ]
    }
  ],
  "connections": {
    "5лґДлІИлЛ§ нКЄл¶ђк±∞": {
      "main": [
        [
          {
            "node": "мД§м†Х (Config)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "мД§м†Х (Config)": {
      "main": [
        [
          {
            "node": "pending л∞∞мєШ м°∞нЪМ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pending л∞∞мєШ м°∞нЪМ": {
      "main": [
        [
          {
            "node": "мГБмДЄ м°∞нЪМ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "мГБмДЄ м°∞нЪМ": {
      "main": [
        [
          {
            "node": "м≤Шл¶ђ м§АлєД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "м≤Шл¶ђ м§АлєД": {
      "main": [
        [
          {
            "node": "мЪФмХљ лМАмГБ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "мЪФмХљ лМАмГБ?": {
      "main": [
        [
          {
            "node": "AI мЪФмХљ (LM Studio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "мК§нВµ/мЛ§нМ® UPDATE мГЭмД±",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI мЪФмХљ (LM Studio)": {
      "main": [
        [
          {
            "node": "мЩДл£М UPDATE мГЭмД±",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "мЩДл£М UPDATE мГЭмД±": {
      "main": [
        [
          {
            "node": "done UPDATE мЛ§нЦЙ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "мК§нВµ/мЛ§нМ® UPDATE мГЭмД±": {
      "main": [
        [
          {
            "node": "skip/fail UPDATE мЛ§нЦЙ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
