workflows/03-notifier.json
{
  "id": "CdtuZgw8kipfaDgH",
  "name": "03 알림 (Notifier)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "828ea179-42c2-4bad-81d9-b00c6a3981ae",
              "name": "discordWebhookUrl",
              "value": "={{ $env.DISCORD_WEBHOOK_URL }}",
              "type": "string"
            },
            {
              "id": "949a937b-7b2f-4c72-80e9-00f3dede8871",
              "name": "notifyBatchSize",
              "value": 30,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "881be420-4c61-4d06-be7a-8052c7011466",
      "name": "설정 (Config)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, source, job_id, company, title, url, min_career, max_career, tech_stacks, summary FROM jobs WHERE status='done' AND notified_at IS NULL ORDER BY collected_at LIMIT {{ $json.notifyBatchSize }}",
        "options": {}
      },
      "id": "8f985daa-dea1-4ed0-b8af-6ae26b7e7500",
      "name": "미전송 done 조회",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "NIMisLmbrBSfv9Nt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// done인데 아직 안 보낸 공고를 디스코드 임베드 카드로 만든다(10개씩 묶음).\nconst rows = $('미전송 done 조회').all();\nif (rows.length === 0) return [];\nconst today = new Date().toISOString().slice(0, 10);\n\nconst embeds = rows.map(it => {\n  const m = it.json;\n  let desc = (m.summary || '').replace(/\\n?기술스택\\s*[:：].*$/m, '').trim();\n  if (desc.length > 400) desc = desc.slice(0, 400) + '…';\n  const stacks = Array.isArray(m.tech_stacks) ? m.tech_stacks.join(', ') : (m.tech_stacks || '');\n  const career = [m.min_career, m.max_career].filter(v => v != null).join('~') || '무관';\n  return {\n    title: `${m.company} — ${m.title}`.slice(0, 250),\n    url: m.url, color: 5814783,\n    description: desc || '(요약 없음)',\n    fields: [\n      { name: '경력', value: String(career), inline: true },\n      { name: '기술스택', value: (stacks || '-').slice(0, 1000), inline: true },\n      { name: '출처', value: String(m.source), inline: true },\n    ],\n  };\n});\n\nconst out = [];\nfor (let i = 0; i < embeds.length; i += 10) {\n  const item = { embeds: embeds.slice(i, i + 10) };\n  if (i === 0) item.content = `📋 **새 채용 공고 ${embeds.length}건** (${today})`;\n  out.push({ json: item });\n}\nreturn out;"
      },
      "id": "ffab9262-a376-45a3-85b0-691b0e0c0626",
      "name": "임베드 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('설정 (Config)').first().json.discordWebhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content, embeds: $json.embeds }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "id": "7482e244-38a1-4d7e-962e-436821c96323",
      "name": "디스코드 전송",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        448
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 방금 조회한 done 공고들을 notified 처리 (전송 후 실행).\nconst rows = $('미전송 done 조회').all();\nconst ids = rows.map(r => r.json.id).filter(v => v != null);\nif (ids.length === 0) return [];\nreturn [{ json: { sql: `UPDATE jobs SET notified_at=now() WHERE id IN (${ids.join(',')});` } }];"
      },
      "id": "4c409489-962b-4120-a4f4-5c794daae713",
      "name": "notified 마킹 SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "2d2a2461-042b-416d-b0b4-ae9a98c0b8c3",
      "name": "notified UPDATE",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "NIMisLmbrBSfv9Nt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 메시지 전송기 (Notifier)\nstatus='done' & notified_at IS NULL 공고를\n디스코드 임베드로 전송 → notified_at 마킹.\n워커와 분리돼 있어, 요약 처리와 알림이 독립적으로 동작.\n\n- Config의 discordWebhookUrl 입력 필요\n- notifyBatchSize: 한 번에 알릴 최대 건수",
        "height": 200,
        "width": 320,
        "color": 3
      },
      "id": "31aad75f-437e-4630-aee4-75253002bd86",
      "name": "메모: 전송기",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        208
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "381fce09-2966-40c0-86e7-75e60001393b",
      "name": "5분마다 트리거",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        448
      ]
    }
  ],
  "connections": {
    "설정 (Config)": {
      "main": [
        [
          {
            "node": "미전송 done 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "미전송 done 조회": {
      "main": [
        [
          {
            "node": "임베드 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "임베드 생성": {
      "main": [
        [
          {
            "node": "디스코드 전송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "디스코드 전송": {
      "main": [
        [
          {
            "node": "notified 마킹 SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notified 마킹 SQL": {
      "main": [
        [
          {
            "node": "notified UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5분마다 트리거": {
      "main": [
        [
          {
            "node": "설정 (Config)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
