workflows/04-search.json
{
  "name": "04 자연어 검색 (raw Text-to-SQL)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "4b2b7253-e033-4c98-b00c-487624b30276",
      "name": "채팅 트리거",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 사용자 질문 → gemma raw-SQL 요청 본문 (json_schema로 {sql}만 받음)\nconst q = $json.chatInput || $json.chatMessage || \"\";\nconst body = { model:\"google/gemma-4-e4b\",\n  messages:[{role:\"system\",content:\"너는 PostgreSQL 전문가다. jobs 테이블에 대해 사용자 질문을 하나의 SELECT 쿼리로 변환한다.\\\\n테이블 jobs 컬럼: source(text jumpit|wanted), company(text), title(text), url(text), min_career(int 최소요구연차), max_career(int), tech_stacks(text[] 기술스택배열), locations(text), summary(text 요약/직무내용), status(text done|pending), collected_at(timestamptz), notified_at(timestamptz)\\\\n규칙:\\\\n- SELECT 문만 생성(INSERT/UPDATE/DELETE/DROP 등 절대 금지).\\\\n- 기본적으로 status='done' 조건 포함.\\\\n- LIMIT은 사용자가 개수를 지정하거나 순위(TOP N)를 물을 때만. 그 외엔 LIMIT 없이 전체 반환.\\\\n- 직무/키워드/업무내용 검색은 제목과 요약을 모두 본다: (title ILIKE '%키워드%' OR summary ILIKE '%키워드%'). 제목만이 아니라 요약(직무 내용)까지 봐야 관련 직무를 놓치지 않는다.\\\\n- 특정 기술: EXISTS (SELECT 1 FROM unnest(tech_stacks) s WHERE s ILIKE '%기술%').\\\\n- 기술 빈도/순위: SELECT unnest(tech_stacks) AS tech, count(*) ... GROUP BY tech ORDER BY count DESC.\\\\n- \\\\\\\"N년 이하\\\\\\\": (min_career IS NULL OR min_career<=N). \\\\\\\"신입\\\\\\\": min_career=0.\\\\n- 오직 SQL만 출력.\"},{role:\"user\",content:q}],\n  temperature:0.1, max_tokens:1500,\n  response_format:{type:\"json_schema\", json_schema:{name:\"q\", schema:{type:\"object\", additionalProperties:false, properties:{sql:{type:\"string\"}}, required:[\"sql\"]}}} };\nreturn [{ json: { body } }];"
      },
      "id": "366f3aeb-ce92-432c-971a-2f8962c70623",
      "name": "LLM 요청 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "e92cbec5-62b4-407e-b07d-4d742a5f04a7",
      "name": "SQL 생성 (gemma)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// [2차 방어] gemma가 생성한 SQL 검증. 위반 시 안내 메시지를 반환하는 SELECT로 대체.\nlet sql = '';\ntry { sql = JSON.parse($json.choices?.[0]?.message?.content || '{}').sql || ''; } catch (e) {}\nsql = String(sql).trim().replace(/;+\\s*$/, '');   // 끝 세미콜론 제거\n\nconst guide = (msg) => [{ json: { sql: `SELECT '${msg.replace(/'/g, \"''\")}' AS 안내` } }];\n\nif (!/^\\s*SELECT\\b/i.test(sql)) return guide('SELECT 쿼리만 실행할 수 있어요.');\nif (/\\b(INSERT|UPDATE|DELETE|DROP|ALTER|CREATE|GRANT|REVOKE|TRUNCATE|COPY|MERGE)\\b/i.test(sql))\n  return guide('허용되지 않는 명령이 포함돼 실행하지 않았어요.');\nif (/;/.test(sql)) return guide('한 번에 하나의 쿼리만 실행할 수 있어요.');\n// LIMIT 강제(없으면 30, 있으면 50 이하로 캡)\n// LIMIT 강제 안 함(전체 반환). gemma가 넣은 경우만 과도한 값 500으로 캡(폭주 방지)\nif (/\\bLIMIT\\s+\\d+/i.test(sql)) sql = sql.replace(/\\bLIMIT\\s+(\\d+)/i, (m, n) => 'LIMIT ' + Math.min(Number(n), 500));\n\nreturn [{ json: { sql } }];"
      },
      "id": "5f1dc764-eb21-4b63-9fa8-bfeabd22ac6c",
      "name": "SQL 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "973b25ce-2d93-40a3-8d4d-c72814d18939",
      "name": "검색 (읽기전용)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_ON_IMPORT",
          "name": "Postgres (readonly)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 결과 포맷 + 마크다운 이스케이프 + Setext 방지 + 파일요청 안내\nconst rows = $input.all();\nconst md = (s) => String(s == null ? '' : s).replace(/[\\\\`*_~#|>\\[\\]]/g, '\\\\$&').replace(/\\r?\\n/g, ' ').trim();\nconst val = (v) => Array.isArray(v) ? v.map(md).join(', ') : (v === '' || v == null ? '(미분류)' : md(v));\nlet text;\nif (rows.length === 0) { text = '🔎 결과가 없어요.'; }\nelse {\n  const first = rows[0].json; const keys = Object.keys(first);\n  if ('sql' in first || 'error' in first) text = '⚠️ 쿼리를 실행하지 못했어요. 질문을 조금 다르게 표현해 주세요.';\n  else if (keys.length === 1 && keys[0] === '안내') text = '⚠️ ' + md(first['안내']);\n  else if ('title' in first) {\n    text = `🔎 **${rows.length}건**\\n\\n`;\n    for (const r of rows) {\n      const m = r.json;\n      const career = [m.min_career, m.max_career].filter(v => v != null).join('~') || '무관';\n      const st = Array.isArray(m.tech_stacks) ? m.tech_stacks.filter(Boolean).map(md).join(', ') : '';\n      text += `**${md(m.company)} — ${md(m.title)}**  ·  경력 ${career}\\n`;\n      if (st) text += `${st}\\n`;\n      if (m.url) text += `${m.url}\\n`;\n      text += '\\n';\n    }\n  } else if (keys.length === 1) text = `🔎 결과: **${val(first[keys[0]])}**`;\n  else {\n    const numKey = keys.find(k => rows.every(r => typeof r.json[k] === 'number' || /^-?\\d+(\\.\\d+)?$/.test(String(r.json[k]))));\n    const labelKey = keys.find(k => k !== numKey);\n    if (keys.length === 2 && numKey && labelKey) { text = `📊 **${rows.length}개**\\n\\n`; rows.forEach((r,i)=>{ text += `${i+1}. **${val(r.json[labelKey])}** — ${r.json[numKey]}\\n`; }); }\n    else { text = `🔎 **${rows.length}행**\\n\\n| ${keys.map(md).join(' | ')} |\\n| ${keys.map(()=>'---').join(' | ')} |\\n`; for (const r of rows) text += '| ' + keys.map(k=>val(r.json[k])).join(' | ') + ' |\\n'; }\n  }\n}\n// 파일 요청이면 안내 추가\nif (!text.startsWith('⚠️') && !text.startsWith('🔎 결과가 없어요')) text += '\\n📎 이 결과를 RTF/DOCX 파일로 저장하고 디스코드로 보냈어요.';\nreturn [{ json: { output: text, text } }];"
      },
      "id": "196474e5-f012-474a-a6a2-87072f27f61c",
      "name": "응답 포맷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "content": "### 자연어 검색 (raw Text-to-SQL)\ngemma가 질문→SELECT → 검증 → 읽기전용 롤 실행 → 응답.\n집계 질문도 가능(TOP N, 회사별 등).\n\n**파일 export**: 질문에 '파일/문서/rtf/저장' 있으면\n→ RTF 생성 → data/output 저장 + 디스코드 전송.\n(Config의 discordWebhookUrl 입력 필요)",
        "height": 220,
        "width": 360,
        "color": 7
      },
      "id": "7e6f9c64-874b-4a82-ae2d-bd12d3c46388",
      "name": "메모: 검색",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed4c9b77-ec70-430c-8673-8de2e0fdc26f",
              "name": "discordWebhookUrl",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b94ec9d5-5ac8-4a73-95ea-f57d285d0ae2",
      "name": "설정 (Config)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 질문에 파일/문서/rtf 요청이 있을 때만 RTF 파일 생성. 아니면 [] (파일 안 만듦).\nconst q = ($('채팅 트리거').first().json.chatInput) || '검색';\nconst rows = $input.all();\nif (rows.length === 0) return [];\nconst f0 = rows[0].json;\nif ('안내' in f0 || 'sql' in f0 || 'error' in f0) return [];  // 검증차단/실패는 파일 안 만듦\n\n// RTF 이스케이프: \\ { } 및 비ASCII(한글 등) 유니코드 이스케이프(\\uNNNN?)\nconst esc = (s) => {\n  let out = '';\n  for (const ch of String(s == null ? '' : s)) {\n    const code = ch.codePointAt(0);\n    if (ch === '\\\\') out += '\\\\\\\\';\n    else if (ch === '{') out += '\\\\{';\n    else if (ch === '}') out += '\\\\}';\n    else if (code > 127) { const c = code > 32767 ? code - 65536 : code; out += '\\\\u' + c + '?'; }\n    else out += ch;\n  }\n  return out;\n};\n\nlet bodyRtf = '';\nconst isJobs = 'title' in rows[0].json;\nif (isJobs) {\n  bodyRtf += '{\\\\fs36\\\\b ' + esc('채용 공고 검색 결과 (' + rows.length + '건)') + '}\\\\par\\\\par ';\n  for (const r of rows) {\n    const m = r.json;\n    const career = [m.min_career, m.max_career].filter(v => v != null).join('~') || '무관';\n    const st = Array.isArray(m.tech_stacks) ? m.tech_stacks.filter(Boolean).join(', ') : '';\n    bodyRtf += '{\\\\b ' + esc((m.company||'') + ' — ' + (m.title||'')) + '}  (' + esc('경력 ' + career) + ')\\\\par ';\n    if (st) bodyRtf += esc(st) + '\\\\par ';\n    if (m.url) bodyRtf += esc(m.url) + '\\\\par ';\n    bodyRtf += '\\\\par ';\n  }\n} else {\n  const keys = Object.keys(rows[0].json);\n  bodyRtf += '{\\\\fs36\\\\b ' + esc('검색 결과 (' + rows.length + '행)') + '}\\\\par\\\\par ';\n  bodyRtf += '{\\\\b ' + esc(keys.join(' | ')) + '}\\\\par ';\n  for (const r of rows) bodyRtf += esc(keys.map(k => Array.isArray(r.json[k]) ? r.json[k].join(', ') : r.json[k]).join(' | ')) + '\\\\par ';\n}\nconst rtf = '{\\\\rtf1\\\\ansi\\\\ansicpg949\\\\deff0{\\\\fonttbl{\\\\f0\\\\fnil Malgun Gothic;}}\\\\f0\\\\fs24 ' + bodyRtf + '}';\n\n// 파일명: 정제 키워드_건수_시각(KST). 원본 질문에서 요청어/조사 제거해 핵심어만 남김.\nconst FILLER = /(관련된|관련|직무를|직무|직군|포지션|공고를|공고|채용|일자리|자리|찾아주세요|찾아줘|찾아|찾고|찾는|보여주세요|보여줘|알려주세요|알려줘|검색해줘|검색|해주세요|해줘|주세요|싶어요|싶어|싶은|좀|목록|리스트|전체|전부|모두|문서로|문서|파일로|파일|rtf로|rtf|docx로|docx|만들어줘|만들어|줄래|해줄래|주라|줘)/g;\nconst JOSA = /(으로|로|를|을|은|는|이|가|의|에서|에게|한테|와|과|도|만|랑|이랑|에)$/;\nlet kw = q.replace(/[\\\\/:*?\"<>|\\n\\r]+/g, ' ').replace(FILLER, ' ').replace(/\\s+/g, ' ').trim();\nkw = kw.split(' ').map(t => t.replace(JOSA, '')).filter(Boolean).join('_').replace(/[^\\w가-힣_]/g, '').replace(/_+/g, '_').replace(/^_+|_+$/g, '').slice(0, 24);\nif (!kw) kw = '검색결과';\nconst d = new Date();\nconst pad = (x) => String(x).padStart(2, '0');\nconst ts = `${pad(d.getMonth()+1)}${pad(d.getDate())}-${pad(d.getHours())}${pad(d.getMinutes())}`;\nconst filename = `${kw}_${rows.length}건_${ts}.rtf`;\nconst binary = await this.helpers.prepareBinaryData(Buffer.from(rtf, 'utf-8'), filename, 'application/rtf');\nreturn [{ json: { filename }, binary: { data: binary } }];"
      },
      "id": "db0fbf6a-4b0f-4d35-8da3-ad99cb7afff6",
      "name": "RTF 분기",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        520
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/output/{{ $json.filename }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "ea129dee-a25c-4a77-8ab6-8cacc8cbccda",
      "name": "파일 저장",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1320,
        440
      ]
    }
  ],
  "connections": {
    "채팅 트리거": {
      "main": [
        [
          {
            "node": "설정 (Config)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "설정 (Config)": {
      "main": [
        [
          {
            "node": "LLM 요청 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM 요청 준비": {
      "main": [
        [
          {
            "node": "SQL 생성 (gemma)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL 생성 (gemma)": {
      "main": [
        [
          {
            "node": "SQL 검증",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL 검증": {
      "main": [
        [
          {
            "node": "검색 (읽기전용)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "검색 (읽기전용)": {
      "main": [
        [
          {
            "node": "응답 포맷",
            "type": "main",
            "index": 0
          },
          {
            "node": "RTF 분기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RTF 분기": {
      "main": [
        [
          {
            "node": "파일 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}