workflows/04-search.json
{
  "name": "04 자연어 검색 (raw Text-to-SQL)",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "4b2b7253-e033-4c98-b00c-487624b30276",
      "name": "채팅 트리거",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 사용자 질문 → gemma raw-SQL 요청 본문 (json_schema로 {sql}만 받음)\nconst q = $json.chatInput || $json.chatMessage || \"\";\nconst body = { model:\"google/gemma-4-e4b\",\n  messages:[{role:\"system\",content:\"너는 PostgreSQL 전문가다. jobs 테이블에 대해 사용자 질문을 하나의 SELECT 쿼리로 변환한다.\\\\n테이블 jobs 컬럼: source(text jumpit|wanted), company(text), title(text), url(text), min_career(int 최소요구연차), max_career(int), tech_stacks(text[] 기술스택배열), locations(text), summary(text 요약/직무내용), status(text done|pending), collected_at(timestamptz), notified_at(timestamptz)\\\\n규칙:\\\\n- SELECT 문만 생성(INSERT/UPDATE/DELETE/DROP 등 절대 금지).\\\\n- 기본적으로 status='done' 조건 포함.\\\\n- 결과 LIMIT 30 이하.\\\\n- 직무/키워드/업무내용 검색은 제목과 요약을 모두 본다: (title ILIKE '%키워드%' OR summary ILIKE '%키워드%'). 제목만이 아니라 요약(직무 내용)까지 봐야 관련 직무를 놓치지 않는다.\\\\n- 특정 기술: EXISTS (SELECT 1 FROM unnest(tech_stacks) s WHERE s ILIKE '%기술%').\\\\n- 기술 빈도/순위: SELECT unnest(tech_stacks) AS tech, count(*) ... GROUP BY tech ORDER BY count DESC.\\\\n- \\\\\\\"N년 이하\\\\\\\": (min_career IS NULL OR min_career<=N). \\\\\\\"신입\\\\\\\": min_career=0.\\\\n- 오직 SQL만 출력.\"},{role:\"user\",content:q}],\n  temperature:0.1, max_tokens:1500,\n  response_format:{type:\"json_schema\", json_schema:{name:\"q\", schema:{type:\"object\", additionalProperties:false, properties:{sql:{type:\"string\"}}, required:[\"sql\"]}}} };\nreturn [{ json: { body } }];"
      },
      "id": "366f3aeb-ce92-432c-971a-2f8962c70623",
      "name": "LLM 요청 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "e92cbec5-62b4-407e-b07d-4d742a5f04a7",
      "name": "SQL 생성 (gemma)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// [2차 방어] gemma가 생성한 SQL 검증. 위반 시 안내 메시지를 반환하는 SELECT로 대체.\nlet sql = '';\ntry { sql = JSON.parse($json.choices?.[0]?.message?.content || '{}').sql || ''; } catch (e) {}\nsql = String(sql).trim().replace(/;+\\s*$/, '');   // 끝 세미콜론 제거\n\nconst guide = (msg) => [{ json: { sql: `SELECT '${msg.replace(/'/g, \"''\")}' AS 안내` } }];\n\nif (!/^\\s*SELECT\\b/i.test(sql)) return guide('SELECT 쿼리만 실행할 수 있어요.');\nif (/\\b(INSERT|UPDATE|DELETE|DROP|ALTER|CREATE|GRANT|REVOKE|TRUNCATE|COPY|MERGE)\\b/i.test(sql))\n  return guide('허용되지 않는 명령이 포함돼 실행하지 않았어요.');\nif (/;/.test(sql)) return guide('한 번에 하나의 쿼리만 실행할 수 있어요.');\n// LIMIT 강제(없으면 30, 있으면 50 이하로 캡)\nif (!/\\bLIMIT\\s+\\d+/i.test(sql)) sql += ' LIMIT 30';\nelse sql = sql.replace(/\\bLIMIT\\s+(\\d+)/i, (m, n) => 'LIMIT ' + Math.min(Number(n), 50));\n\nreturn [{ json: { sql } }];"
      },
      "id": "5f1dc764-eb21-4b63-9fa8-bfeabd22ac6c",
      "name": "SQL 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "973b25ce-2d93-40a3-8d4d-c72814d18939",
      "name": "검색 (읽기전용)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "REPLACE_ON_IMPORT",
          "name": "Postgres (readonly)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 결과 모양을 감지해 보기 좋게 포맷: 안내 / 공고목록 / 단일값 / 순위목록 / 표\nconst rows = $input.all();\nconst val = (v) => Array.isArray(v) ? v.join(', ') : (v === '' || v == null ? '(미분류)' : v);\nlet text;\n\nif (rows.length === 0) {\n  text = '🔎 결과가 없어요.';\n} else {\n  const first = rows[0].json;\n  const keys = Object.keys(first);\n\n  if ('sql' in first || 'error' in first) {\n    text = '⚠️ 쿼리를 실행하지 못했어요. 질문을 조금 다르게 표현해 주세요.';\n  } else if (keys.length === 1 && keys[0] === '안내') {\n    text = '⚠️ ' + first['안내'];\n  } else if ('title' in first) {\n    // 공고 목록 카드\n    text = `🔎 **${rows.length}건**\\n\\n`;\n    for (const r of rows) {\n      const m = r.json;\n      const career = [m.min_career, m.max_career].filter(v => v != null).join('~') || '무관';\n      const st = Array.isArray(m.tech_stacks) ? m.tech_stacks.filter(Boolean).join(', ') : '';\n      text += `**${m.company || ''} — ${m.title}**  ·  경력 ${career}\\n${st || '-'}\\n${m.url || ''}\\n\\n`;\n    }\n  } else if (keys.length === 1) {\n    // 단일 값 (count 등)\n    text = `🔎 결과: **${val(first[keys[0]])}**`;\n  } else {\n    // 숫자 컬럼 찾기 → 있으면 순위 목록, 없으면 표\n    const numKey = keys.find(k => rows.every(r => typeof r.json[k] === 'number' || /^-?\\d+(\\.\\d+)?$/.test(String(r.json[k]))));\n    const labelKey = keys.find(k => k !== numKey);\n    if (keys.length === 2 && numKey && labelKey) {\n      text = `📊 **${rows.length}개**\\n\\n`;\n      rows.forEach((r, i) => { text += `${i + 1}. **${val(r.json[labelKey])}** — ${r.json[numKey]}\\n`; });\n    } else {\n      // 마크다운 표\n      text = `🔎 **${rows.length}행**\\n\\n| ${keys.join(' | ')} |\\n| ${keys.map(() => '---').join(' | ')} |\\n`;\n      for (const r of rows) text += '| ' + keys.map(k => val(r.json[k])).join(' | ') + ' |\\n';\n    }\n  }\n}\nreturn [{ json: { output: text, text } }];"
      },
      "id": "196474e5-f012-474a-a6a2-87072f27f61c",
      "name": "응답 포맷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "content": "### 자연어 검색 (raw Text-to-SQL)\ngemma-4-e4b가 질문→SELECT SQL 생성 → 검증 → 읽기전용 롤로 실행.\n집계 질문도 가능: \"기술스택 TOP10\", \"회사별 공고 수\", \"연차별 분포\"\n\n**안전 2중:**\n1. 읽기전용 DB 롤(jobs_ro): SELECT만 가능, 쓰기 원천 차단\n2. SQL 검증 노드: SELECT 아니거나 위험키워드면 실행 안 함\n\n자격증명: 검색 노드는 'Postgres (readonly)' 사용",
        "height": 220,
        "width": 360,
        "color": 7
      },
      "id": "7e6f9c64-874b-4a82-ae2d-bd12d3c46388",
      "name": "메모: 검색",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "채팅 트리거": {
      "main": [
        [
          {
            "node": "LLM 요청 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM 요청 준비": {
      "main": [
        [
          {
            "node": "SQL 생성 (gemma)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL 생성 (gemma)": {
      "main": [
        [
          {
            "node": "SQL 검증",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL 검증": {
      "main": [
        [
          {
            "node": "검색 (읽기전용)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "검색 (읽기전용)": {
      "main": [
        [
          {
            "node": "응답 포맷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}