workflows/04-search.json
{
  "name": "04 하이브리드 검색 (Self-Query)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "4b2b7253-e033-4c98-b00c-487624b30276",
      "name": "채팅 트리거",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "webhookId": "5f022089-0418-4bb5-a1cc-33e1613e1873"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "sqlModel",
              "value": "google/gemma-4-e4b",
              "type": "string"
            },
            {
              "id": "c2",
              "name": "embModel",
              "value": "text-embedding-kure-v1",
              "type": "string"
            },
            {
              "id": "c3",
              "name": "minScore",
              "value": 0.5,
              "type": "number"
            },
            {
              "id": "c4",
              "name": "discordWebhookUrl",
              "value": "={{ $env.DISCORD_WEBHOOK_URL }}",
              "type": "string"
            },
            {
              "id": "c5",
              "name": "dynamicThreshold",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "n04-cfg",
      "name": "설정 (Config)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// 사용자 질문 → gemma 분해 요청. mode(search/aggregate) + 구조필터 + semantic_query.\nconst q = $json.chatInput || $json.chatMessage || \"\";\nconst sys = `너는 채용공고 검색 도우미다. status='done'인 공고들이 담긴 jobs 테이블에서 사용자 질문을 처리한다.\n\n[모드]\n- search: 특정 직무·기술·역할을 찾는 일반 검색(대부분 여기). 의미검색+구조필터로 처리.\n- aggregate: 통계/집계/순위 질문일 때만(예: 기술스택 TOP10, 회사별 공고수, 지역 분포). 이때만 sql에 SELECT 집계문.\n\n[필드]\n- mode: \"search\" 또는 \"aggregate\"\n- semantic_query: search일 때 찾는 직무·기술·역할을 자연어로 정제(예 \"온디바이스 AI 모델 경량화·최적화\"). aggregate면 \"\".\n- career_lte: 공고 요구경력(min_career)이 이 값 이하인 것만. \"N년차/N년 이하/주니어\"면 N, \"신입\"이면 0. 무관이면 -1.\n- career_gte: 공고 요구경력이 이 값 이상(시니어). \"N년 이상\"이면 N. 무관이면 -1.\n- location: 지역 키워드(예 \"서울\",\"판교\"). 무관이면 \"\".\n- tech: 반드시 포함할 핵심 기술 배열(예 [\"Python\"]). 명시 안 하면 [].\n- sql: aggregate일 때만 SELECT 집계문. 기술스택 빈도/순위는 반드시 \"SELECT s AS tech, count(*) FROM jobs, unnest(tech_stacks) s WHERE status='done' GROUP BY s ORDER BY count(*) DESC LIMIT N\" 형태(배열 통째로 GROUP BY 금지). 회사/지역 집계는 GROUP BY company/locations. SELECT만, 세미콜론·여러문장 금지. search면 \"\".\n\n- min_score: 이 검색의 관련도 하한(0.40~0.62). 넓고 흔한 직무(백엔드·AI엔지니어·데이터엔지니어)면 0.55~0.60 엄격, 좁고 구체/희귀(온디바이스 경량화·강화학습 로보틱스·벡터DB)면 0.42~0.48 느슨, 보통 0.50. aggregate면 0.50.\n\n[규칙] 애매하면 search. semantic_query엔 지역·경력 조건 넣지 말고 직무·기술 의미만 담아라.`;\nconst schema = { type:\"object\", additionalProperties:false, properties:{\n  mode:{type:\"string\", enum:[\"search\",\"aggregate\"]},\n  semantic_query:{type:\"string\"}, career_lte:{type:\"integer\"}, career_gte:{type:\"integer\"},\n  location:{type:\"string\"}, tech:{type:\"array\", items:{type:\"string\"}}, sql:{type:\"string\"}, min_score:{type:\"number\"} },\n  required:[\"mode\",\"semantic_query\",\"career_lte\",\"career_gte\",\"location\",\"tech\",\"sql\",\"min_score\"] };\nconst body = { model: $('설정 (Config)').first().json.sqlModel,\n  messages:[{role:\"system\",content:sys},{role:\"user\",content:q}],\n  temperature:0.1, max_tokens:1500,\n  response_format:{type:\"json_schema\", json_schema:{name:\"decomp\", schema}} };\nreturn [{ json: { body } }];"
      },
      "id": "n04-req",
      "name": "요청 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "n04-gemma",
      "name": "분해 (gemma)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// gemma 분해 JSON 파싱 + 방어. 실패 시 search 폴백(질문 전체를 의미검색).\nlet P; try { P = JSON.parse($json.choices?.[0]?.message?.content || '{}'); } catch(e){ P = {}; }\nconst chatInput = $('채팅 트리거').first().json.chatInput || '';\nconst out = {\n  mode: P.mode === 'aggregate' ? 'aggregate' : 'search',\n  semantic_query: (P.semantic_query && String(P.semantic_query).trim()) ? String(P.semantic_query).trim() : chatInput,\n  career_lte: Number.isInteger(P.career_lte) ? P.career_lte : -1,\n  career_gte: Number.isInteger(P.career_gte) ? P.career_gte : -1,\n  location: typeof P.location === 'string' ? P.location : '',\n  tech: Array.isArray(P.tech) ? P.tech : [],\n  sql: typeof P.sql === 'string' ? P.sql : '',\n  min_score: (typeof P.min_score === 'number') ? P.min_score : null\n};\nout.emb_input = out.semantic_query || chatInput || ' ';\nreturn [{ json: out }];"
      },
      "id": "n04-parse",
      "name": "분해 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $('설정 (Config)').first().json.embModel, input: $json.emb_input }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "n04-emb",
      "name": "질문 임베딩 (KURE)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// mode에 따라 최종 SQL 생성. aggregate=검증된 raw SELECT, search=하드필터+벡터랭킹.\nconst P = $('분해 파싱').first().json;\nconst emb = $json.data && $json.data[0] && $json.data[0].embedding;\nconst cfgMs = Number($('설정 (Config)').first().json.minScore);\nconst dyn = $('설정 (Config)').first().json.dynamicThreshold !== false;\nconst gemMs = Number(P.min_score);\nlet ms;\nif (dyn && Number.isFinite(gemMs) && gemMs > 0) {\n  ms = gemMs > 1 ? gemMs/100 : gemMs;\n  ms = Math.max(0.40, Math.min(0.65, ms));   // gemma 동적값(안전범위 클램프)\n} else {\n  ms = Number.isFinite(cfgMs) ? cfgMs : 0.5; // 수동 fallback\n  if (ms > 1) ms /= 100;\n  if (ms < 0) ms = 0; if (ms > 1) ms = 1;\n}\nconst maxDist = 1 - ms;\nconst guide = (msg)=>[{json:{sql:`SELECT '${String(msg).replace(/'/g,\"''\")}' AS 안내`}}];\n\nif (P.mode === 'aggregate' && P.sql && String(P.sql).trim()) {\n  let sql = String(P.sql).trim().replace(/;+\\s*$/,'');\n  if (!/^\\s*SELECT\\b/i.test(sql)) return guide('집계 쿼리를 이해하지 못했어요.');\n  if (/\\b(INSERT|UPDATE|DELETE|DROP|ALTER|CREATE|GRANT|REVOKE|TRUNCATE|COPY|MERGE)\\b/i.test(sql)) return guide('허용되지 않는 명령이 포함돼 실행하지 않았어요.');\n  if (/;/.test(sql)) return guide('한 번에 하나의 쿼리만 실행할 수 있어요.');\n  if (/\\bLIMIT\\s+\\d+/i.test(sql)) sql = sql.replace(/\\bLIMIT\\s+(\\d+)/i,(m,n)=>'LIMIT '+Math.min(Number(n),500));\n  return [{json:{sql}}];\n}\n// search 모드: 하드필터(경력·지역·기술) + 벡터 랭킹\nif (!Array.isArray(emb) || emb.length !== 1024) return guide('임베딩 서버에 연결하지 못했어요. LM Studio가 켜져 있는지 확인해 주세요.');\nconst vec = '[' + emb.join(',') + ']';\nconst esc = s => String(s).replace(/'/g,\"''\");\nconst conds = [\"status='done'\",\"embedding IS NOT NULL\"];\nconst cl = Number(P.career_lte), cg = Number(P.career_gte);\nif (Number.isFinite(cl) && cl>=0) conds.push(`(min_career IS NULL OR min_career <= ${cl})`);\nif (Number.isFinite(cg) && cg>=0) conds.push(`min_career >= ${cg}`);\nif (P.location && String(P.location).trim()) conds.push(`locations ILIKE '%${esc(String(P.location).trim())}%'`);\nfor (const t of (Array.isArray(P.tech)?P.tech:[])) { const e = esc(String(t).trim()); if (e) conds.push(`(EXISTS(SELECT 1 FROM unnest(tech_stacks) s WHERE s ILIKE '%${e}%') OR title ILIKE '%${e}%' OR summary ILIKE '%${e}%')`); }\nconds.push(`(embedding <=> '${vec}'::vector) <= ${maxDist}`);  // 관련도 하드캡\nconst where = conds.join(' AND ');\nconst sql = `SELECT company, title, url, min_career, max_career, tech_stacks, summary, round((1-(embedding <=> '${vec}'::vector))::numeric,3) AS score FROM jobs WHERE ${where} ORDER BY embedding <=> '${vec}'::vector`;\nreturn [{json:{sql}}];"
      },
      "id": "n04-build",
      "name": "최종 SQL 빌드",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "973b25ce-2d93-40a3-8d4d-c72814d18939",
      "name": "검색 (읽기전용)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "FwDuNNPnm7VCKyXU",
          "name": "Postgres (readonly)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 결과 포맷 + 마크다운 이스케이프 + Setext 방지 + 파일요청 안내\nconst rows = $input.all();\nconst md = (s) => String(s == null ? '' : s).replace(/[\\\\`*_~#|>\\[\\]]/g, '\\\\$&').replace(/\\r?\\n/g, ' ').trim();\nconst val = (v) => Array.isArray(v) ? v.map(md).join(', ') : (v === '' || v == null ? '(미분류)' : md(v));\nlet text;\nif (rows.length === 0) { text = '🔎 결과가 없어요.'; }\nelse {\n  const first = rows[0].json; const keys = Object.keys(first);\n  if ('sql' in first || 'error' in first) text = '⚠️ 쿼리를 실행하지 못했어요. 질문을 조금 다르게 표현해 주세요.';\n  else if (keys.length === 1 && keys[0] === '안내') text = '⚠️ ' + md(first['안내']);\n  else if ('title' in first) {\n    text = `🔎 **${rows.length}건**\\n\\n`;\n    for (const r of rows) {\n      const m = r.json;\n      const career = [m.min_career, m.max_career].filter(v => v != null).join('~') || '무관';\n      const st = Array.isArray(m.tech_stacks) ? m.tech_stacks.filter(Boolean).map(md).join(', ') : '';\n      text += `**${md(m.company)} — ${md(m.title)}**  ·  경력 ${career}${m.score!=null?`  ·  관련도 ${Math.round(m.score*100)}%`:''}\\n`;\n      if (st) text += `${st}\\n`;\n      if (m.url) text += `${m.url}\\n`;\n      text += '\\n';\n    }\n  } else if (keys.length === 1) text = `🔎 결과: **${val(first[keys[0]])}**`;\n  else {\n    const numKey = keys.find(k => rows.every(r => typeof r.json[k] === 'number' || /^-?\\d+(\\.\\d+)?$/.test(String(r.json[k]))));\n    const labelKey = keys.find(k => k !== numKey);\n    if (keys.length === 2 && numKey && labelKey) { text = `📊 **${rows.length}개**\\n\\n`; rows.forEach((r,i)=>{ text += `${i+1}. **${val(r.json[labelKey])}** — ${r.json[numKey]}\\n`; }); }\n    else { text = `🔎 **${rows.length}행**\\n\\n| ${keys.map(md).join(' | ')} |\\n| ${keys.map(()=>'---').join(' | ')} |\\n`; for (const r of rows) text += '| ' + keys.map(k=>val(r.json[k])).join(' | ') + ' |\\n'; }\n  }\n}\n// 파일 요청이면 안내 추가\nif (!text.startsWith('⚠️') && !text.startsWith('🔎 결과가 없어요')) text += '\\n📎 이 결과를 RTF/DOCX 파일로 저장하고 디스코드로 보냈어요.';\nreturn [{ json: { output: text, text } }];"
      },
      "id": "196474e5-f012-474a-a6a2-87072f27f61c",
      "name": "응답 포맷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// 질문에 파일/문서/rtf 요청이 있을 때만 RTF 파일 생성. 아니면 [] (파일 안 만듦).\nconst q = ($('채팅 트리거').first().json.chatInput) || '검색';\nconst rows = $input.all();\nif (rows.length === 0) return [];\nconst f0 = rows[0].json;\nif ('안내' in f0 || 'sql' in f0 || 'error' in f0) return [];  // 검증차단/실패는 파일 안 만듦\n\n// RTF 이스케이프: \\ { } 및 비ASCII(한글 등) 유니코드 이스케이프(\\uNNNN?)\nconst esc = (s) => {\n  let out = '';\n  for (const ch of String(s == null ? '' : s)) {\n    const code = ch.codePointAt(0);\n    if (ch === '\\\\') out += '\\\\\\\\';\n    else if (ch === '{') out += '\\\\{';\n    else if (ch === '}') out += '\\\\}';\n    else if (code > 127) { const c = code > 32767 ? code - 65536 : code; out += '\\\\u' + c + '?'; }\n    else out += ch;\n  }\n  return out;\n};\n\nlet bodyRtf = '';\nconst isJobs = 'title' in rows[0].json;\nif (isJobs) {\n  bodyRtf += '{\\\\fs36\\\\b ' + esc('채용 공고 검색 결과 (' + rows.length + '건)') + '}\\\\par\\\\par ';\n  for (const r of rows) {\n    const m = r.json;\n    const career = [m.min_career, m.max_career].filter(v => v != null).join('~') || '무관';\n    const st = Array.isArray(m.tech_stacks) ? m.tech_stacks.filter(Boolean).join(', ') : '';\n    bodyRtf += '{\\\\b ' + esc((m.company||'') + ' — ' + (m.title||'')) + '}  (' + esc('경력 ' + career) + ')\\\\par ';\n    if (st) bodyRtf += esc(st) + '\\\\par ';\n    if (m.url) bodyRtf += esc(m.url) + '\\\\par ';\n    bodyRtf += '\\\\par ';\n  }\n} else {\n  const keys = Object.keys(rows[0].json);\n  bodyRtf += '{\\\\fs36\\\\b ' + esc('검색 결과 (' + rows.length + '행)') + '}\\\\par\\\\par ';\n  bodyRtf += '{\\\\b ' + esc(keys.join(' | ')) + '}\\\\par ';\n  for (const r of rows) bodyRtf += esc(keys.map(k => Array.isArray(r.json[k]) ? r.json[k].join(', ') : r.json[k]).join(' | ')) + '\\\\par ';\n}\nconst rtf = '{\\\\rtf1\\\\ansi\\\\ansicpg949\\\\deff0{\\\\fonttbl{\\\\f0\\\\fnil Malgun Gothic;}}\\\\f0\\\\fs24 ' + bodyRtf + '}';\n\n// 파일명: 정제 키워드_건수_시각(KST). 원본 질문에서 요청어/조사 제거해 핵심어만 남김.\nconst FILLER = /(관련된|관련|직무를|직무|직군|포지션|공고를|공고|채용|일자리|자리|찾아주세요|찾아줘|찾아|찾고|찾는|보여주세요|보여줘|알려주세요|알려줘|검색해줘|검색|해주세요|해줘|주세요|싶어요|싶어|싶은|좀|목록|리스트|전체|전부|모두|문서로|문서|파일로|파일|rtf로|rtf|docx로|docx|만들어줘|만들어|줄래|해줄래|주라|줘)/g;\nconst JOSA = /(으로|로|를|을|은|는|이|가|의|에서|에게|한테|와|과|도|만|랑|이랑|에)$/;\nlet kw = q.replace(/[\\\\/:*?\"<>|\\n\\r]+/g, ' ').replace(FILLER, ' ').replace(/\\s+/g, ' ').trim();\nkw = kw.split(' ').map(t => t.replace(JOSA, '')).filter(Boolean).join('_').replace(/[^\\w가-힣_]/g, '').replace(/_+/g, '_').replace(/^_+|_+$/g, '').slice(0, 24);\nif (!kw) kw = '검색결과';\nconst d = new Date();\nconst pad = (x) => String(x).padStart(2, '0');\nconst ts = `${pad(d.getMonth()+1)}${pad(d.getDate())}-${pad(d.getHours())}${pad(d.getMinutes())}`;\nconst filename = `${kw}_${rows.length}건_${ts}.rtf`;\nconst binary = await this.helpers.prepareBinaryData(Buffer.from(rtf, 'utf-8'), filename, 'application/rtf');\nreturn [{ json: { filename }, binary: { data: binary } }];"
      },
      "id": "db0fbf6a-4b0f-4d35-8da3-ad99cb7afff6",
      "name": "RTF 분기",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        528
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/output/{{ $json.filename }}",
        "options": {}
      },
      "id": "ea129dee-a25c-4a77-8ab6-8cacc8cbccda",
      "name": "파일 저장",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1984,
        448
      ]
    },
    {
      "parameters": {
        "content": "### 04 하이브리드 검색 (Self-Query)\ngemma가 질문을 {mode + 필터 + 의미어}로 분해:\n- **search**: 경력·지역·기술=하드필터(WHERE) + KURE 임베딩 벡터랭킹(ORDER BY)\n- **aggregate**: 통계/순위는 검증된 SELECT 집계\n\n키워드가 안 겹쳐도 의미로 찾고, 경력/지역은 반드시 만족. 결과는 RTF/DOCX로도 전송.\n\n**관련도 컷(동적)**: gemma가 질문 넓이 보고 min_score 자동 결정(0.40~0.65). dynamicThreshold=false면 Config minScore 고정.",
        "height": 240,
        "width": 380,
        "color": 7
      },
      "id": "n04-note",
      "name": "메모: 검색",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        32
      ]
    }
  ],
  "connections": {
    "채팅 트리거": {
      "main": [
        [
          {
            "node": "설정 (Config)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "설정 (Config)": {
      "main": [
        [
          {
            "node": "요청 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "요청 준비": {
      "main": [
        [
          {
            "node": "분해 (gemma)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "분해 (gemma)": {
      "main": [
        [
          {
            "node": "분해 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "분해 파싱": {
      "main": [
        [
          {
            "node": "질문 임베딩 (KURE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "질문 임베딩 (KURE)": {
      "main": [
        [
          {
            "node": "최종 SQL 빌드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "최종 SQL 빌드": {
      "main": [
        [
          {
            "node": "검색 (읽기전용)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "검색 (읽기전용)": {
      "main": [
        [
          {
            "node": "응답 포맷",
            "type": "main",
            "index": 0
          },
          {
            "node": "RTF 분기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RTF 분기": {
      "main": [
        [
          {
            "node": "파일 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
