workflows/06-semantic-search.json
{
  "name": "06 мқҳлҜёкІҖмғү (Semantic Search)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "4b2b7253-e033-4c98-b00c-487624b30276",
      "name": "мұ„нҢ… нҠёлҰ¬кұ°",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "embModel",
              "value": "text-embedding-kure-v1",
              "type": "string"
            },
            {
              "id": "c2",
              "name": "topK",
              "value": 20,
              "type": "number"
            },
            {
              "id": "c3",
              "name": "discordWebhookUrl",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "n06-cfg",
      "name": "м„Өм • (Config)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $('м„Өм • (Config)').first().json.embModel, input: $('мұ„нҢ… нҠёлҰ¬кұ°').first().json.chatInput }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "n06-http",
      "name": "м§Ҳл¬ё мһ„лІ л”© (KURE)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// м§Ҳл¬ё мһ„лІ л”© вҶ’ лІЎн„° мөңк·јм ‘ кІҖмғү SQL мғқм„ұ. мһ„лІ л”© мӢӨнҢЁ мӢң м•ҲлӮҙ.\nconst emb = $json.data && $json.data[0] && $json.data[0].embedding;\nconst topK = Number($('м„Өм • (Config)').first().json.topK) || 20;\nif (!Array.isArray(emb) || emb.length !== 1024) {\n  return [{ json: { sql: `SELECT 'мһ„лІ л”© м„ңлІ„м—җ м—°кІ°н•ҳм§Җ лӘ»н–Ҳм–ҙмҡ”. LM Studioк°Җ мјңм ё мһҲлҠ”м§Җ нҷ•мқён•ҙ мЈјм„ёмҡ”.' AS м•ҲлӮҙ` } }];\n}\nconst vec = '[' + emb.join(',') + ']';\nconst sql = `SELECT company, title, url, min_career, max_career, tech_stacks, summary, round((1-(embedding <=> '${vec}'::vector))::numeric,3) AS score FROM jobs WHERE status='done' AND embedding IS NOT NULL ORDER BY embedding <=> '${vec}'::vector LIMIT ${topK}`;\nreturn [{ json: { sql } }];"
      },
      "id": "n06-qprep",
      "name": "мҝјлҰ¬ мӨҖл№„",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "973b25ce-2d93-40a3-8d4d-c72814d18939",
      "name": "кІҖмғү (мқҪкё°м „мҡ©)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "FwDuNNPnm7VCKyXU",
          "name": "Postgres (readonly)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// кІ°кіј нҸ¬л§· + л§ҲнҒ¬лӢӨмҡҙ мқҙмҠӨмјҖмқҙн”„ + Setext л°©м§Җ + нҢҢмқјмҡ”мІӯ м•ҲлӮҙ\nconst rows = $input.all();\nconst md = (s) => String(s == null ? '' : s).replace(/[\\\\`*_~#|>\\[\\]]/g, '\\\\$&').replace(/\\r?\\n/g, ' ').trim();\nconst val = (v) => Array.isArray(v) ? v.map(md).join(', ') : (v === '' || v == null ? '(лҜёл¶„лҘҳ)' : md(v));\nlet text;\nif (rows.length === 0) { text = 'рҹ”Һ кІ°кіјк°Җ м—Ҷм–ҙмҡ”.'; }\nelse {\n  const first = rows[0].json; const keys = Object.keys(first);\n  if ('sql' in first || 'error' in first) text = 'вҡ пёҸ мҝјлҰ¬лҘј мӢӨн–үн•ҳм§Җ лӘ»н–Ҳм–ҙмҡ”. м§Ҳл¬ёмқ„ мЎ°кёҲ лӢӨлҘҙкІҢ н‘ңнҳ„н•ҙ мЈјм„ёмҡ”.';\n  else if (keys.length === 1 && keys[0] === 'м•ҲлӮҙ') text = 'вҡ пёҸ ' + md(first['м•ҲлӮҙ']);\n  else if ('title' in first) {\n    text = `рҹ”Һ **${rows.length}кұҙ**\\n\\n`;\n    for (const r of rows) {\n      const m = r.json;\n      const career = [m.min_career, m.max_career].filter(v => v != null).join('~') || 'л¬ҙкҙҖ';\n      const st = Array.isArray(m.tech_stacks) ? m.tech_stacks.filter(Boolean).map(md).join(', ') : '';\n      text += `**${md(m.company)} вҖ” ${md(m.title)}**  В·  кІҪл Ҙ ${career}${m.score!=null?`  В·  кҙҖл ЁлҸ„ ${Math.round(m.score*100)}%`:''}\\n`;\n      if (st) text += `${st}\\n`;\n      if (m.url) text += `${m.url}\\n`;\n      text += '\\n';\n    }\n  } else if (keys.length === 1) text = `рҹ”Һ кІ°кіј: **${val(first[keys[0]])}**`;\n  else {\n    const numKey = keys.find(k => rows.every(r => typeof r.json[k] === 'number' || /^-?\\d+(\\.\\d+)?$/.test(String(r.json[k]))));\n    const labelKey = keys.find(k => k !== numKey);\n    if (keys.length === 2 && numKey && labelKey) { text = `рҹ“Ҡ **${rows.length}к°ң**\\n\\n`; rows.forEach((r,i)=>{ text += `${i+1}. **${val(r.json[labelKey])}** вҖ” ${r.json[numKey]}\\n`; }); }\n    else { text = `рҹ”Һ **${rows.length}н–ү**\\n\\n| ${keys.map(md).join(' | ')} |\\n| ${keys.map(()=>'---').join(' | ')} |\\n`; for (const r of rows) text += '| ' + keys.map(k=>val(r.json[k])).join(' | ') + ' |\\n'; }\n  }\n}\n// нҢҢмқј мҡ”мІӯмқҙл©ҙ м•ҲлӮҙ м¶”к°Җ\nif (!text.startsWith('вҡ пёҸ') && !text.startsWith('рҹ”Һ кІ°кіјк°Җ м—Ҷм–ҙмҡ”')) text += '\\nрҹ“Һ мқҙ кІ°кіјлҘј RTF/DOCX нҢҢмқјлЎң м ҖмһҘн•ҳкі  л””мҠӨмҪ”л“ңлЎң ліҙлғҲм–ҙмҡ”.';\nreturn [{ json: { output: text, text } }];"
      },
      "id": "196474e5-f012-474a-a6a2-87072f27f61c",
      "name": "мқ‘лӢө нҸ¬л§·",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// м§Ҳл¬ём—җ нҢҢмқј/л¬ём„ң/rtf мҡ”мІӯмқҙ мһҲмқ„ л•Ңл§Ң RTF нҢҢмқј мғқм„ұ. м•„лӢҲл©ҙ [] (нҢҢмқј м•Ҳ л§Ңл“Ұ).\nconst q = ($('мұ„нҢ… нҠёлҰ¬кұ°').first().json.chatInput) || 'кІҖмғү';\nconst rows = $input.all();\nif (rows.length === 0) return [];\nconst f0 = rows[0].json;\nif ('м•ҲлӮҙ' in f0 || 'sql' in f0 || 'error' in f0) return [];  // кІҖмҰқм°ЁлӢЁ/мӢӨнҢЁлҠ” нҢҢмқј м•Ҳ л§Ңл“Ұ\n\n// RTF мқҙмҠӨмјҖмқҙн”„: \\ { } л°Ҹ л№„ASCII(н•ңкёҖ л“ұ) мң лӢҲмҪ”л“ң мқҙмҠӨмјҖмқҙн”„(\\uNNNN?)\nconst esc = (s) => {\n  let out = '';\n  for (const ch of String(s == null ? '' : s)) {\n    const code = ch.codePointAt(0);\n    if (ch === '\\\\') out += '\\\\\\\\';\n    else if (ch === '{') out += '\\\\{';\n    else if (ch === '}') out += '\\\\}';\n    else if (code > 127) { const c = code > 32767 ? code - 65536 : code; out += '\\\\u' + c + '?'; }\n    else out += ch;\n  }\n  return out;\n};\n\nlet bodyRtf = '';\nconst isJobs = 'title' in rows[0].json;\nif (isJobs) {\n  bodyRtf += '{\\\\fs36\\\\b ' + esc('мұ„мҡ© кіөкі  кІҖмғү кІ°кіј (' + rows.length + 'кұҙ)') + '}\\\\par\\\\par ';\n  for (const r of rows) {\n    const m = r.json;\n    const career = [m.min_career, m.max_career].filter(v => v != null).join('~') || 'л¬ҙкҙҖ';\n    const st = Array.isArray(m.tech_stacks) ? m.tech_stacks.filter(Boolean).join(', ') : '';\n    bodyRtf += '{\\\\b ' + esc((m.company||'') + ' вҖ” ' + (m.title||'')) + '}  (' + esc('кІҪл Ҙ ' + career) + ')\\\\par ';\n    if (st) bodyRtf += esc(st) + '\\\\par ';\n    if (m.url) bodyRtf += esc(m.url) + '\\\\par ';\n    bodyRtf += '\\\\par ';\n  }\n} else {\n  const keys = Object.keys(rows[0].json);\n  bodyRtf += '{\\\\fs36\\\\b ' + esc('кІҖмғү кІ°кіј (' + rows.length + 'н–ү)') + '}\\\\par\\\\par ';\n  bodyRtf += '{\\\\b ' + esc(keys.join(' | ')) + '}\\\\par ';\n  for (const r of rows) bodyRtf += esc(keys.map(k => Array.isArray(r.json[k]) ? r.json[k].join(', ') : r.json[k]).join(' | ')) + '\\\\par ';\n}\nconst rtf = '{\\\\rtf1\\\\ansi\\\\ansicpg949\\\\deff0{\\\\fonttbl{\\\\f0\\\\fnil Malgun Gothic;}}\\\\f0\\\\fs24 ' + bodyRtf + '}';\n\n// нҢҢмқјлӘ…: м •м ң нӮӨмӣҢл“ң_кұҙмҲҳ_мӢңк°Ғ(KST). мӣҗліё м§Ҳл¬ём—җм„ң мҡ”мІӯм–ҙ/мЎ°мӮ¬ м ңкұ°н•ҙ н•өмӢ¬м–ҙл§Ң лӮЁк№Җ.\nconst FILLER = /(кҙҖл Ёлҗң|кҙҖл Ё|м§Ғл¬ҙлҘј|м§Ғл¬ҙ|м§Ғкө°|нҸ¬м§Җм…ҳ|кіөкі лҘј|кіөкі |мұ„мҡ©|мқјмһҗлҰ¬|мһҗлҰ¬|м°ҫм•„мЈјм„ёмҡ”|м°ҫм•„мӨҳ|м°ҫм•„|м°ҫкі |м°ҫлҠ”|ліҙм—¬мЈјм„ёмҡ”|ліҙм—¬мӨҳ|м•Ңл ӨмЈјм„ёмҡ”|м•Ңл ӨмӨҳ|кІҖмғүн•ҙмӨҳ|кІҖмғү|н•ҙмЈјм„ёмҡ”|н•ҙмӨҳ|мЈјм„ёмҡ”|мӢ¶м–ҙмҡ”|мӢ¶м–ҙ|мӢ¶мқҖ|мўҖ|лӘ©лЎқ|лҰ¬мҠӨнҠё|м „мІҙ|м „л¶Җ|лӘЁл‘җ|л¬ём„ңлЎң|л¬ём„ң|нҢҢмқјлЎң|нҢҢмқј|rtfлЎң|rtf|docxлЎң|docx|л§Ңл“Өм–ҙмӨҳ|л§Ңл“Өм–ҙ|мӨ„лһҳ|н•ҙмӨ„лһҳ|мЈјлқј|мӨҳ)/g;\nconst JOSA = /(мңјлЎң|лЎң|лҘј|мқ„|мқҖ|лҠ”|мқҙ|к°Җ|мқҳ|м—җм„ң|м—җкІҢ|н•ңн…Ң|мҷҖ|кіј|лҸ„|л§Ң|лһ‘|мқҙлһ‘|м—җ)$/;\nlet kw = q.replace(/[\\\\/:*?\"<>|\\n\\r]+/g, ' ').replace(FILLER, ' ').replace(/\\s+/g, ' ').trim();\nkw = kw.split(' ').map(t => t.replace(JOSA, '')).filter(Boolean).join('_').replace(/[^\\wк°Җ-нһЈ_]/g, '').replace(/_+/g, '_').replace(/^_+|_+$/g, '').slice(0, 24);\nif (!kw) kw = 'кІҖмғүкІ°кіј';\nconst d = new Date();\nconst pad = (x) => String(x).padStart(2, '0');\nconst ts = `${pad(d.getMonth()+1)}${pad(d.getDate())}-${pad(d.getHours())}${pad(d.getMinutes())}`;\nconst filename = `${kw}_${rows.length}кұҙ_${ts}.rtf`;\nconst binary = await this.helpers.prepareBinaryData(Buffer.from(rtf, 'utf-8'), filename, 'application/rtf');\nreturn [{ json: { filename }, binary: { data: binary } }];"
      },
      "id": "db0fbf6a-4b0f-4d35-8da3-ad99cb7afff6",
      "name": "RTF л¶„кё°",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        520
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/output/{{ $json.filename }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "ea129dee-a25c-4a77-8ab6-8cacc8cbccda",
      "name": "нҢҢмқј м ҖмһҘ",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1320,
        440
      ]
    },
    {
      "parameters": {
        "content": "### 06 мқҳлҜёкІҖмғү (Semantic Search)\nм§Ҳл¬ёмқ„ KURE-v1лЎң мһ„лІ л”© вҶ’ лІЎн„° мөңк·јм ‘(мҪ”мӮ¬мқё) кІҖмғү вҶ’ кҙҖл ЁлҸ„мҲң мқ‘лӢө.\nнӮӨмӣҢл“ңк°Җ м•Ҳ кІ№міҗлҸ„ мқҳлҜёлЎң л§Өм№ӯ(мҳҲ: 'н”„лЎ¬н”„нҠё м—”м§ҖлӢҲм–ҙл§Ғ' вҶ’ LLM/RAG кіөкі ).\n\n- topK: л°ҳнҷҳ к°ңмҲҳ\n- кІ°кіјлҠ” RTF/DOCXлЎңлҸ„ м ҖмһҘВ·м „мҶЎ(кё°мЎҙ нҢҢмқҙн”„лқјмқё мһ¬мӮ¬мҡ©)\n- 04(text-to-SQL)мҷҖ лӮҳлһҖнһҲ л‘җкі  н’Ҳм§Ҳ л№„көҗ",
        "height": 220,
        "width": 360,
        "color": 6
      },
      "id": "n06-note",
      "name": "л©”лӘЁ: мқҳлҜёкІҖмғү",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        40
      ]
    }
  ],
  "connections": {
    "мұ„нҢ… нҠёлҰ¬кұ°": {
      "main": [
        [
          {
            "node": "м„Өм • (Config)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "м„Өм • (Config)": {
      "main": [
        [
          {
            "node": "м§Ҳл¬ё мһ„лІ л”© (KURE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "м§Ҳл¬ё мһ„лІ л”© (KURE)": {
      "main": [
        [
          {
            "node": "мҝјлҰ¬ мӨҖл№„",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "мҝјлҰ¬ мӨҖл№„": {
      "main": [
        [
          {
            "node": "кІҖмғү (мқҪкё°м „мҡ©)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "кІҖмғү (мқҪкё°м „мҡ©)": {
      "main": [
        [
          {
            "node": "мқ‘лӢө нҸ¬л§·",
            "type": "main",
            "index": 0
          },
          {
            "node": "RTF л¶„кё°",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RTF л¶„кё°": {
      "main": [
        [
          {
            "node": "нҢҢмқј м ҖмһҘ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
