workflows/07-mail-checker.json
{
  "id": "E5d2uni8glrDZdog",
  "name": "07 메일 확인 (Mail Checker)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {}
      },
      "id": "n07-imap",
      "name": "Email 트리거 (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "credentials": {
        "imap": {
          "id": "daApG2WURR3B2XUf",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g1",
              "name": "classModel",
              "value": "google/gemma-4-e4b",
              "type": "string"
            },
            {
              "id": "g2",
              "name": "discordWebhookUrl",
              "value": "={{ $env.DISCORD_WEBHOOK_URL }}",
              "type": "string"
            },
            {
              "id": "g3",
              "name": "gmailUserIndex",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "n07-cfg",
      "name": "설정 (Config)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// IMAP 메일에서 필드 추출. message_id 없으면 대체키 생성. [Each Item]\nconst j = $json;\nconst subject = (j.subject || '').toString();\nconst fr = j.from;\nconst from = (fr && (fr.text || (fr.value && fr.value[0] && fr.value[0].address))) || (typeof fr==='string'?fr:'') || '';\nconst received_at = j.date || null;\nconst body = (j.text || j.textAsHtml || (typeof j.html==='string'?j.html:'') || '').toString().replace(/\\s+/g,' ').slice(0,3000);\nlet message_id = j.messageId || (j.headers && (j.headers['message-id']||j.headers['Message-ID'])) || '';\nif (!message_id) message_id = 'h:' + subject + '|' + from + '|' + (received_at||'');\nreturn { json: { message_id, subject, from, received_at, body } };"
      },
      "id": "n07-prep",
      "name": "준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 분류 요청 본문 구성 (gemma, json_schema). reason/evidence를 먼저 생성해 근거 기반 판단(환각 방지). [Each Item]\nconst p = $json;\nconst sys = `너는 채용 이메일을 분류한다. 반드시 본문의 실제 문장에 근거해서만 판단하고, 없는 내용을 지어내지 마라.\n[분류 순서 — 반드시 이 순서로 판단]\n1) 먼저 '거절/탈락' 신호를 찾아라. 한국 채용 거절 메일은 '불합격'이라는 단어를 거의 쓰지 않고 완곡하게 표현한다. 다음 표현이 있으면 무조건 reject:\n   \"좋은 소식을 전하지/들려드리지 못하게 되었습니다\", \"모시지 못하게 되었습니다\", \"함께하지 못하게 되었습니다\", \"함께하지 못해\", \"안타깝게도\", \"아쉽게도\", \"다음 기회에\", \"합격하지 못\", \"부합하지 않아\", \"선발되지 못\".\n2) 거절 신호가 없을 때만 합격/진행을 고려한다. '합격', '통과', '축하'가 본문에 명시적으로 있어야 document_pass 또는 final_pass다. 이런 단어가 없으면 절대 document_pass/final_pass로 분류하지 마라.\n3) 면접·코딩테스트·과제 등 다음 전형 진행 안내면 interview.\n4) 접수/지원완료 확인만 있고 결과가 없으면 applied.\n5) 채용과 무관(광고·뉴스레터·시스템/보안 알림)이면 other.\n[status] applied, document_pass, interview, final_pass, reject, other 중 하나만.\ncompany=회사명(제목 [] 안이나 발신 도메인에서). 모르면 \"\". summary=본문에 실제로 있는 내용 한 줄(지어내지 말 것).`;\nconst schema = { type:\"object\", additionalProperties:false, properties:{\n  reason:{type:\"string\"},\n  evidence:{type:\"string\"},\n  status:{type:\"string\", enum:[\"applied\",\"document_pass\",\"interview\",\"final_pass\",\"reject\",\"other\"]},\n  company:{type:\"string\"}, summary:{type:\"string\"} }, required:[\"reason\",\"evidence\",\"status\",\"company\",\"summary\"] };\nconst body = { model: $('설정 (Config)').first().json.classModel,\n  messages:[{role:\"system\",content:sys},{role:\"user\",content:`제목: ${p.subject}\\n발신: ${p.from}\\n본문: ${p.body}`}],\n  temperature:0.1, max_tokens:400, tools:[],\n  response_format:{type:\"json_schema\", json_schema:{name:\"cls\", schema}} };\nreturn { json: { body } };"
      },
      "id": "n07-clsprep",
      "name": "분류 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "n07-llm",
      "name": "LLM 분류 (Kanana)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 분류결과 → INSERT SQL. other는 최소저장(개인정보 보호). ON CONFLICT로 중복방지. [Each Item]\nconst m = $('준비').item.json;\nlet content=''; try { content = $json.choices[0].message.content; } catch(e){}\nlet cls={}; try { cls = JSON.parse(content); } catch(e){}\nconst status = ['applied','document_pass','interview','final_pass','reject','other'].includes(cls.status) ? cls.status : 'other';\nconst esc = (v)=> v==null ? 'NULL' : `'${String(v).replace(/'/g,\"''\")}'`;\nconst recv = m.received_at ? `${esc(m.received_at)}::timestamptz` : 'NULL';\nlet sql;\nif (status==='other') {\n  sql = `INSERT INTO applications(message_id,status,received_at) VALUES(${esc(m.message_id)},'other',${recv}) ON CONFLICT(message_id) DO NOTHING RETURNING message_id,status,company,summary;`;\n} else {\n  sql = `INSERT INTO applications(message_id,company,status,email_subject,email_from,summary,received_at) VALUES(${esc(m.message_id)},${esc(cls.company||'')},'${status}',${esc(m.subject)},${esc(m.from)},${esc(cls.summary||'')},${recv}) ON CONFLICT(message_id) DO NOTHING RETURNING message_id,status,company,summary;`;\n}\nreturn { json: { sql } };"
      },
      "id": "n07-savegen",
      "name": "저장 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "n07-saveexec",
      "name": "저장 실행",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1320,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "NIMisLmbrBSfv9Nt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "document_pass",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "interview",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond3",
              "leftValue": "={{ $json.status }}",
              "rightValue": "final_pass",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond4",
              "leftValue": "={{ $json.status }}",
              "rightValue": "reject",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "n07-if",
      "name": "알림 대상?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 새로 삽입된 결과만 → 디스코드 payload(+메일 링크) + notified UPDATE. [Each Item]\nconst r = $json;\nif (!r || !r.message_id || r.status == null) return [];  // 빈 행(중복 ON CONFLICT DO NOTHING) 방어\nconst icon = ({document_pass:'📄',interview:'📅',final_pass:'🎉',reject:'😢'})[r.status] || '📩';\nconst label = ({document_pass:'서류 합격',interview:'면접·전형 안내',final_pass:'최종 합격',reject:'불합격'})[r.status] || r.status;\nconst idx = $('설정 (Config)').first().json.gmailUserIndex || '0';\nconst mid = r.message_id || '';\nlet link = '';\nif (mid && !mid.startsWith('h:')) link = `https://mail.google.com/mail/u/${idx}/#search/rfc822msgid:` + encodeURIComponent(mid.replace(/[<>]/g,''));\nconst content = `${icon} **[${r.company||'회사미상'}]** ${label}\\n> ${(r.summary||'').slice(0,200)}` + (link ? `\\n📧 메일 열기: ${link}` : '');\nconst esc = (v)=> String(v).replace(/'/g,\"''\");\nreturn { json: {\n  webhook: $('설정 (Config)').first().json.discordWebhookUrl,\n  discordBody: JSON.stringify({ content }),\n  notifiedSql: `UPDATE applications SET notified_at=now() WHERE message_id='${esc(r.message_id)}';`\n} };"
      },
      "id": "n07-notgen",
      "name": "알림·마킹 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhook }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.discordBody }}",
        "options": {}
      },
      "id": "n07-discord",
      "name": "디스코드 전송",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        220
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('알림·마킹 생성').item.json.notifiedSql }}",
        "options": {}
      },
      "id": "n07-notexec",
      "name": "notified 실행",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2200,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "NIMisLmbrBSfv9Nt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 07 메일 확인 (Mail Checker)\nIMAP(Gmail 앱비번)로 안읽음 메일 수신 → Kanana 분류(합격/불합격/면접/기타) → applications 기록 → 디스코드 알림.\n\n**설정 필요**: ① IMAP 트리거 노드에 Gmail 자격증명(imap.gmail.com:993, 앱비밀번호) ② Config의 discordWebhookUrl.\n- 중복방지: message_id UNIQUE + ON CONFLICT (새 메일만 알림)\n- other는 최소저장(개인정보 보호), 읽음상태 안 바꿈",
        "height": 260,
        "width": 380,
        "color": 3
      },
      "id": "n07-note",
      "name": "메모",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        -20
      ]
    }
  ],
  "connections": {
    "Email 트리거 (IMAP)": {
      "main": [
        [
          {
            "node": "설정 (Config)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "설정 (Config)": {
      "main": [
        [
          {
            "node": "준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "준비": {
      "main": [
        [
          {
            "node": "분류 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "분류 준비": {
      "main": [
        [
          {
            "node": "LLM 분류 (Kanana)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM 분류 (Kanana)": {
      "main": [
        [
          {
            "node": "저장 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "저장 생성": {
      "main": [
        [
          {
            "node": "저장 실행",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "저장 실행": {
      "main": [
        [
          {
            "node": "알림 대상?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "알림 대상?": {
      "main": [
        [
          {
            "node": "알림·마킹 생성",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "알림·마킹 생성": {
      "main": [
        [
          {
            "node": "디스코드 전송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "디스코드 전송": {
      "main": [
        [
          {
            "node": "notified 실행",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}