workflows/job-collection.json
{
  "name": "채용 공고 수집·요약 (Workflow A)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "5011a486-9625-4846-9072-f717a934a293",
      "name": "매일 09시 트리거",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77c11929-0afa-4937-a51c-18718cfaa807",
              "name": "keywords",
              "value": "={{ [\"백엔드\", \"Node.js\"] }}",
              "type": "array"
            },
            {
              "id": "da37155c-2ecf-4093-bfcf-0e2491fe98df",
              "name": "discordWebhookUrl",
              "value": "",
              "type": "string"
            },
            {
              "id": "26792bb0-6cff-47d1-b4b5-ea242f097a97",
              "name": "maxCareerYears",
              "value": 3,
              "type": "number"
            },
            {
              "id": "7f5a86da-3490-4d22-ae39-50619d1c1125",
              "name": "allowedWantedCategories",
              "value": "={{ [518, 507] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "fd25399e-8100-4a6a-ad5b-efb25649bc7b",
      "name": "설정 (Config)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "keywords",
        "options": {}
      },
      "id": "030b130f-41bd-404c-aad8-bdab6149dced",
      "name": "키워드 분리 (Split Out)",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://jumpit-api.saramin.co.kr/api/positions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $json.keywords }}"
            },
            {
              "name": "sort",
              "value": "relation"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {}
      },
      "id": "dcb04c59-83b9-4441-a731-497022b38ba6",
      "name": "점프잇 목록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://www.wanted.co.kr/api/chaos/search/v1/results",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.keywords }}"
            },
            {
              "name": "country",
              "value": "kr"
            },
            {
              "name": "job_sort",
              "value": "job.latest_order"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {}
      },
      "id": "177c189f-612a-4e9b-af74-68f8fff5ad05",
      "name": "원티드 목록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "04046ce3-acc6-4e8b-8fa7-028476ebf4c0",
      "name": "목록 병합 (Merge)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 두 소스(점프잇/원티드)의 목록 응답을 공통 스키마로 정규화한다.\n// 입력: Merge 노드가 합친 목록 응답 아이템들.\n//   - 점프잇 응답: json.result.positions[]\n//   - 원티드 응답: json.positions.data[] (또는 json.data[])\n// 출력: 공고 1건당 아이템 1개.\n// 주의: 비공식 API라 필드명이 바뀔 수 있음 -> 첫 실행 후 실제 응답을 보고 매핑 조정.\n\nconst stripTags = (s) => (s || '').replace(/<[^>]*>/g, '').trim();\nconst out = [];\nconst allowed = $('설정 (Config)').first().json.allowedWantedCategories || [518, 507];  // 원티드 허용 직군(화이트리스트)\n\nfor (const item of $input.all()) {\n  const j = item.json || {};\n\n  // ---- 점프잇 ----\n  const jumpit = j.result?.positions;\n  if (Array.isArray(jumpit)) {\n    for (const p of jumpit) {\n      out.push({ json: {\n        source: 'jumpit',\n        jobId: String(p.id ?? ''),\n        company: p.companyName ?? p.company ?? '',\n        title: stripTags(p.title),            // <span> 하이라이트 태그 제거\n        url: `https://jumpit.saramin.co.kr/position/${p.id}`,\n        minCareer: p.minCareer ?? null,\n        maxCareer: p.maxCareer ?? null,\n        techStacks: (p.techStacks || []).map(t => stripTags(typeof t === 'string' ? t : (t.stack ?? t.name ?? ''))),  // <span> 하이라이트 제거\n        locations: p.locations ?? (p.jobCity ? [p.jobCity] : []),\n        closedAt: p.closedAt ?? null,\n      }});\n    }\n    continue;\n  }\n\n  // ---- 원티드 ----\n  const wanted = j.positions?.data ?? j.data;\n  if (Array.isArray(wanted)) {\n    for (const p of wanted) {\n      // 직군 화이트리스트: 허용 parent_id만 통과 (분류불가=통과, 목록 비면 필터OFF)\n      const pid = p.category_tag?.parent_id;\n      if (allowed.length && pid != null && !allowed.includes(pid)) continue;\n      out.push({ json: {\n        source: 'wanted',\n        jobId: String(p.id ?? ''),\n        company: p.company?.name ?? p.company_name ?? '',\n        title: p.position ?? p.title ?? '',\n        url: `https://www.wanted.co.kr/wd/${p.id}`,\n        minCareer: p.annual_from ?? null,\n        maxCareer: p.annual_to ?? null,\n        techStacks: (p.skill_tags || p.tags || []).map(t => typeof t === 'string' ? t : (t.title ?? t.name ?? '')),\n        locations: p.address ? [p.address] : (p.location ? [p.location] : []),\n        closedAt: p.due_time ?? null,\n      }});\n    }\n    continue;\n  }\n}\n\nreturn out;\n"
      },
      "id": "7d2e3cf9-c34e-4be1-a09a-b56097949db5",
      "name": "정규화 (Normalize)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 필터 전용: 중복 공고를 제외하고 새 공고만 통과시킨다. 두 가지 중복을 모두 처리:\n//  ① 이전 실행에서 요약 성공한 공고 (static data의 seen)\n//  ② 이번 실행 내 중복 (여러 키워드에 걸린 같은 공고 — OR 검색이라 생김)\n// seen 기록(성공분)은 'Markdown 생성'에서 수행한다.\nconst staticData = $getWorkflowStaticData('global');\nconst seen = staticData.seenJobIds || {};\nconst seenThisRun = new Set();\n\nconst fresh = [];\nfor (const item of $input.all()) {\n  const key = `${item.json.source}:${item.json.jobId}`;\n  if (seen[key] || seenThisRun.has(key)) continue;   // 이전 실행 or 이번 실행 내 중복 제외\n  seenThisRun.add(key);\n  fresh.push(item);\n}\nreturn fresh;"
      },
      "id": "e721df54-0df5-4f2b-ad45-575e36f8bbea",
      "name": "중복 제거 (Dedup)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.source === 'wanted' ? 'https://www.wanted.co.kr/api/chaos/jobs/v4/' + $json.jobId + '/details?country=kr' : 'https://jumpit-api.saramin.co.kr/api/position/' + $json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {}
      },
      "id": "7293f5f8-a770-4181-91ea-53e929b766be",
      "name": "상세 조회 (Detail)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 상세(JD) 응답을 파싱해 LLM 프롬프트를 만들고, 연차 상한으로 필터링한다.\n// [All Items 모드] 상세조회 결과($input)와 Dedup 메타를 인덱스로 짝짓는다.\n// (Each Item 모드에서는 return []로 항목을 못 버려서 All Items로 처리)\n\nconst metas   = $('중복 제거 (Dedup)').all();   // 정규화 메타 (인덱스 정렬)\nconst details = $input.all();                   // 상세 API 응답 (인덱스 정렬)\nconst maxYears = Number($('설정 (Config)').first().json.maxCareerYears);\n\nconst out = [];\nfor (let i = 0; i < details.length; i++) {\n  const meta = metas[i]?.json || {};\n  const d = details[i]?.json || {};\n\n  let responsibility = '', qualifications = '', preferred = '';\n  if (d.result) {                       // 점프잇 상세\n    responsibility = d.result.responsibility || '';\n    qualifications = d.result.qualifications || '';\n    preferred      = d.result.preferredRequirements || '';\n  } else if (d.data?.job?.detail) {     // 원티드 상세\n    const det = d.data.job.detail;\n    responsibility = det.main_tasks || det.intro || '';\n    qualifications = det.requirements || '';\n    preferred      = det.preferred_points || '';\n  }\n\n  // 연차 보완: 점프잇=목록 minCareer/maxCareer, 원티드=상세 annual_from/to\n  let minCareer = meta.minCareer;\n  let maxCareer = meta.maxCareer;\n  if (d.data?.job) {\n    if (minCareer == null) minCareer = d.data.job.annual_from ?? null;\n    if (maxCareer == null) maxCareer = d.data.job.annual_to ?? null;\n  }\n  if (maxCareer != null && maxCareer > 20) maxCareer = null;  // 상한 sentinel(100 등) 정리\n\n  // 연차 필터: 최소 요구 경력 > 상한이면 제외. 신입/무관(null·0) 통과, 상한 미설정 시 OFF\n  if (Number.isFinite(maxYears) && minCareer != null && minCareer > maxYears) continue;\n\n  const prompt = `제목: ${meta.title}\\n회사: ${meta.company}\\n\\n[주요업무]\\n${responsibility}\\n\\n[자격요건]\\n${qualifications}\\n\\n[우대사항]\\n${preferred}`;\n  out.push({ json: { ...meta, minCareer, maxCareer, responsibility, qualifications, preferred, prompt } });\n}\n\nreturn out;"
      },
      "id": "4fc6925e-013c-4879-8489-971e1625eb4f",
      "name": "AI 입력 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"kanana-1.5-8b-instruct-2505-mlx\", \"messages\": [ { \"role\": \"system\", \"content\": \"너는 채용공고를 3줄로 요약하고 핵심 자격요건을 뽑는 도우미다. 답변의 맨 마지막 줄에 반드시 '기술스택: 키워드1, 키워드2, ...' 형식으로 공고 본문에 등장한 기술 스택(언어/프레임워크/DB/인프라)을 쉼표로 구분해 나열하라. 언급된 기술이 없으면 '기술스택: -' 로 적어라.\" }, { \"role\": \"user\", \"content\": $json.prompt } ], \"temperature\": 0.3, \"max_tokens\": 800, \"tools\": [] }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "a7371973-199b-4441-a8f3-350add986ba5",
      "name": "AI 요약 (LM Studio)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        300
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// AI 요약 결과 + 공고 메타데이터를 하나의 Markdown 문서로 합친다.\n// 추가로, 요약에 성공한 공고만 seen에 기록해 다음 실행부터 스킵한다(실패는 재시도되도록).\nconst aiItems = $input.all();\nconst metaItems = $('AI 입력 준비').all();\nconst staticData = $getWorkflowStaticData('global');\nconst seen = staticData.seenJobIds || {};\n\nconst today = new Date().toISOString().slice(0, 10);\nlet md = `# 채용 공고 요약 (${today})\\n\\n총 ${aiItems.length}건\\n\\n`;\n\nfor (let i = 0; i < aiItems.length; i++) {\n  const meta = metaItems[i]?.json || {};\n  const rawContent = aiItems[i]?.json?.choices?.[0]?.message?.content;\n  const summary = rawContent || '(요약 실패 - LM Studio 응답 확인 필요)';\n  const career = [meta.minCareer, meta.maxCareer]\n    .filter(v => v !== null && v !== undefined).join('~') || '무관';\n  // 점프잇은 구조화 techStacks, 원티드는 AI 요약의 '기술스택:' 라인에서 추출\n  let stacks = (meta.techStacks || []).join(', ');\n  if (!stacks) {\n    const m = summary.match(/기술스택\\s*[:：]\\s*(.+)/);\n    if (m) { const v = m[1].trim(); if (v && v !== '-') stacks = v; }\n  }\n  stacks = stacks || '-';\n\n  md += `## ${meta.title} — ${meta.company}\\n\\n`;\n  md += `- 링크: ${meta.url}\\n`;\n  md += `- 경력: ${career}\\n`;\n  md += `- 기술스택: ${stacks}\\n`;\n  md += `- 출처: ${meta.source}\\n\\n`;\n  md += `### AI 요약\\n${summary}\\n\\n---\\n\\n`;\n\n  // 요약 성공 시에만 seen 기록 (rawContent가 있으면 성공)\n  if (rawContent && meta.source && meta.jobId) {\n    seen[`${meta.source}:${meta.jobId}`] = Date.now();\n  }\n}\n\nstaticData.seenJobIds = seen;   // 성공한 공고만 다음 실행부터 스킵\n\nconst binary = await this.helpers.prepareBinaryData(\n  Buffer.from(md, 'utf-8'), 'jobs-summary.md', 'text/markdown');\n\nreturn [{ json: { markdown: md, count: aiItems.length }, binary: { data: binary } }];"
      },
      "id": "4174be32-6040-48a6-97c6-6e6ff9a3fe61",
      "name": "Markdown 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/output/jobs-summary.md",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "a97729e5-645d-4a23-ac0c-ae81551795ab",
      "name": "파일 저장",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {
        "content": "## 설정 (Config)\n여기 keywords 배열만 고치면 검색어가 바뀝니다.\n예: [\"백엔드\", \"Node.js\", \"파이썬\"]",
        "height": 200,
        "width": 260,
        "color": 4
      },
      "id": "b00c6952-48da-4637-865f-ea399b9c5720",
      "name": "메모: 설정",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        60
      ]
    },
    {
      "parameters": {
        "content": "## 중복 제거 (Dedup)\n워크플로우 static data에 처리한 공고ID를 기억해\n두 번 실행해도 같은 공고를 다시 요약하지 않습니다.\n상세/AI 호출 앞에 두어 자원을 아낍니다.",
        "height": 220,
        "width": 300,
        "color": 5
      },
      "id": "9be4b8a2-3124-4fba-981e-585d77f0347f",
      "name": "메모: 중복 제거",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        40
      ]
    },
    {
      "parameters": {
        "content": "## AI 요약 (LM Studio)\nLM Studio가 호스트에서 실행 중이어야 함.\n(OpenAI 호환 서버 http://host.docker.internal:1234)\n자격증명 없이 순수 HTTP 노드로 호출 -> 임포트 즉시 동작.\n나중에 OpenAI Chat Model 노드로 교체 가능.\n\n상세 조회는 점프잇/원티드 URL을 분기하지만\n원티드 상세 필드명은 실측 후 조정 필요.",
        "height": 300,
        "width": 320,
        "color": 3
      },
      "id": "115897a9-9280-4136-8742-9c223193e12b",
      "name": "메모: LLM 호스트",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1900,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "// 디스코드로 보낼 것: 공고별 '클릭 가능한 임베드 카드'. 임베드 10개씩 묶어 메시지 구성.\nconst metaItems = $('AI 입력 준비').all();\nconst aiItems   = $('AI 요약 (LM Studio)').all();\nconst webhook   = $('설정 (Config)').first().json.discordWebhookUrl || '';\n\nif (!webhook || metaItems.length === 0) return [];\n\nconst today = new Date().toISOString().slice(0, 10);\n\n// ① 공고별 임베드 생성\nconst embeds = [];\nfor (let i = 0; i < metaItems.length; i++) {\n  const m = metaItems[i].json;\n  const content = aiItems[i]?.json?.choices?.[0]?.message?.content || '';\n\n  // 설명: 요약 본문에서 '기술스택:' 라인은 제거(카드 필드에 따로 넣으므로 중복 방지)\n  let desc = content.replace(/\\n?기술스택\\s*[:：].*$/m, '').trim();\n  if (desc.length > 400) desc = desc.slice(0, 400) + '…';\n\n  // 기술스택: 점프잇=구조화, 원티드=요약에서 추출\n  let stacks = (m.techStacks || []).join(', ');\n  if (!stacks) { const mm = content.match(/기술스택\\s*[:：]\\s*(.+)/); if (mm) stacks = mm[1].trim(); }\n\n  const career = [m.minCareer, m.maxCareer].filter(v => v != null).join('~') || '무관';\n\n  embeds.push({\n    title: `${m.company} — ${m.title}`.slice(0, 250),\n    url: m.url,\n    color: 5814783,\n    description: desc || '(요약 없음)',\n    fields: [\n      { name: '경력', value: String(career), inline: true },\n      { name: '기술스택', value: (stacks || '-').slice(0, 1000), inline: true },\n      { name: '출처', value: String(m.source), inline: true },\n    ],\n  });\n}\n\n// ② 임베드 10개씩 묶어 메시지로 (첫 메시지에 헤더 content)\nconst out = [];\nfor (let i = 0; i < embeds.length; i += 10) {\n  const item = { embeds: embeds.slice(i, i + 10) };\n  if (i === 0) item.content = `📋 **오늘의 채용 공고 ${embeds.length}건** (${today})`;\n  out.push({ json: item });\n}\nreturn out;"
      },
      "id": "c42f1382-0b5e-4604-a056-000464451149",
      "name": "디스코드 메시지 작성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('설정 (Config)').first().json.discordWebhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content, embeds: $json.embeds }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          }
        }
      },
      "id": "11ba2d5f-bc1d-4b16-8e70-7e4dcd330813",
      "name": "디스코드 전송",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        300
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "content": "### 디스코드 알림\nConfig 노드의 discordWebhookUrl에 디스코드 웹후크 URL을 넣으면\n요약 결과가 디스코드로 전송됩니다. 비어있으면 전송 스킵.",
        "height": 140,
        "width": 300
      },
      "id": "486b93b4-2a0c-4829-aee0-785c622f91cc",
      "name": "메모: 디스코드",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2620,
        120
      ]
    },
    {
      "parameters": {
        "content": "### 원티드 직군(parent_id) 참고표\nConfig의 `allowedWantedCategories` 화이트리스트에 쓰는 값.\n\n**✅ 허용(기본)**\n- 518 개발\n- 507 경영·비즈니스 (PM·기획·데이터분석)\n\n**🟡 선택**\n- 511 디자인 (제품/UX 원하면 추가)\n\n**❌ 동떨어짐(미포함)**\n- 517 HR / 523 마케팅·광고 / 524 미디어\n- 530 영업 / 532 물류·무역\n\n→ Config 배열에 숫자만 추가/삭제하면 조정됨",
        "height": 360,
        "width": 320,
        "color": 6
      },
      "id": "dcb1b3d9-3400-4612-afcc-022d1bbabc82",
      "name": "메모: 원티드 직군표",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        480
      ]
    }
  ],
  "connections": {
    "매일 09시 트리거": {
      "main": [
        [
          {
            "node": "설정 (Config)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "설정 (Config)": {
      "main": [
        [
          {
            "node": "키워드 분리 (Split Out)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "키워드 분리 (Split Out)": {
      "main": [
        [
          {
            "node": "점프잇 목록",
            "type": "main",
            "index": 0
          },
          {
            "node": "원티드 목록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "점프잇 목록": {
      "main": [
        [
          {
            "node": "목록 병합 (Merge)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "원티드 목록": {
      "main": [
        [
          {
            "node": "목록 병합 (Merge)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "목록 병합 (Merge)": {
      "main": [
        [
          {
            "node": "정규화 (Normalize)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "정규화 (Normalize)": {
      "main": [
        [
          {
            "node": "중복 제거 (Dedup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "중복 제거 (Dedup)": {
      "main": [
        [
          {
            "node": "상세 조회 (Detail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상세 조회 (Detail)": {
      "main": [
        [
          {
            "node": "AI 입력 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 입력 준비": {
      "main": [
        [
          {
            "node": "AI 요약 (LM Studio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 요약 (LM Studio)": {
      "main": [
        [
          {
            "node": "Markdown 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown 생성": {
      "main": [
        [
          {
            "node": "파일 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 저장": {
      "main": [
        [
          {
            "node": "디스코드 메시지 작성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "디스코드 메시지 작성": {
      "main": [
        [
          {
            "node": "디스코드 전송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}