workflows/job-collection.json
{
  "name": "채용 공고 수집·요약 (Workflow A)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "5011a486-9625-4846-9072-f717a934a293",
      "name": "매일 09시 트리거",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77c11929-0afa-4937-a51c-18718cfaa807",
              "name": "keywords",
              "value": "={{ [\"백엔드\", \"Node.js\"] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "fd25399e-8100-4a6a-ad5b-efb25649bc7b",
      "name": "설정 (Config)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "keywords",
        "options": {}
      },
      "id": "030b130f-41bd-404c-aad8-bdab6149dced",
      "name": "키워드 분리 (Split Out)",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://jumpit-api.saramin.co.kr/api/positions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $json.keywords }}"
            },
            {
              "name": "sort",
              "value": "relation"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {}
      },
      "id": "dcb04c59-83b9-4441-a731-497022b38ba6",
      "name": "점프잇 목록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://www.wanted.co.kr/api/chaos/search/v1/results",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.keywords }}"
            },
            {
              "name": "country",
              "value": "kr"
            },
            {
              "name": "job_sort",
              "value": "job.latest_order"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {}
      },
      "id": "177c189f-612a-4e9b-af74-68f8fff5ad05",
      "name": "원티드 목록",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 2
      },
      "id": "04046ce3-acc6-4e8b-8fa7-028476ebf4c0",
      "name": "목록 병합 (Merge)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 두 소스(점프잇/원티드)의 목록 응답을 공통 스키마로 정규화한다.\n// 입력: Merge 노드가 합친 목록 응답 아이템들.\n//   - 점프잇 응답: json.result.positions[]\n//   - 원티드 응답: json.positions.data[] (또는 json.data[])\n// 출력: 공고 1건당 아이템 1개.\n// 주의: 비공식 API라 필드명이 바뀔 수 있음 -> 첫 실행 후 실제 응답을 보고 매핑 조정.\n\nconst stripTags = (s) => (s || '').replace(/<[^>]*>/g, '').trim();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const j = item.json || {};\n\n  // ---- 점프잇 ----\n  const jumpit = j.result?.positions;\n  if (Array.isArray(jumpit)) {\n    for (const p of jumpit) {\n      out.push({ json: {\n        source: 'jumpit',\n        jobId: String(p.id ?? ''),\n        company: p.companyName ?? p.company ?? '',\n        title: stripTags(p.title),            // <span> 하이라이트 태그 제거\n        url: `https://jumpit.saramin.co.kr/position/${p.id}`,\n        minCareer: p.minCareer ?? null,\n        maxCareer: p.maxCareer ?? null,\n        techStacks: (p.techStacks || []).map(t => typeof t === 'string' ? t : (t.stack ?? t.name ?? '')),\n        locations: p.locations ?? (p.jobCity ? [p.jobCity] : []),\n        closedAt: p.closedAt ?? null,\n      }});\n    }\n    continue;\n  }\n\n  // ---- 원티드 ----\n  const wanted = j.positions?.data ?? j.data;\n  if (Array.isArray(wanted)) {\n    for (const p of wanted) {\n      out.push({ json: {\n        source: 'wanted',\n        jobId: String(p.id ?? ''),\n        company: p.company?.name ?? p.company_name ?? '',\n        title: p.position ?? p.title ?? '',\n        url: `https://www.wanted.co.kr/wd/${p.id}`,\n        minCareer: p.annual_from ?? null,\n        maxCareer: p.annual_to ?? null,\n        techStacks: (p.skill_tags || p.tags || []).map(t => typeof t === 'string' ? t : (t.title ?? t.name ?? '')),\n        locations: p.address ? [p.address] : (p.location ? [p.location] : []),\n        closedAt: p.due_time ?? null,\n      }});\n    }\n    continue;\n  }\n}\n\nreturn out;\n"
      },
      "id": "7d2e3cf9-c34e-4be1-a09a-b56097949db5",
      "name": "정규화 (Normalize)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 워크플로우 static data(global)에 이미 처리한 공고ID를 저장해 두고,\n// 새 공고만 통과시킨다. 다음 실행 때 같은 공고가 다시 요약/저장되는 것을 막는다.\n// (저장소(Sheets/Notion)가 붙기 전 단계의 임시 중복 방지 방식)\n\nconst staticData = $getWorkflowStaticData('global');\nconst seen = staticData.seenJobIds || {};\n\nconst fresh = [];\nfor (const item of $input.all()) {\n  const key = `${item.json.source}:${item.json.jobId}`;\n  if (!seen[key]) {\n    seen[key] = Date.now();   // 처음 본 공고 -> 통과시키고 기록\n    fresh.push(item);\n  }\n}\n\nstaticData.seenJobIds = seen;   // 다음 실행에도 유지됨\nreturn fresh;\n"
      },
      "id": "e721df54-0df5-4f2b-ad45-575e36f8bbea",
      "name": "중복 제거 (Dedup)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.source === 'wanted' ? 'https://www.wanted.co.kr/api/chaos/jobs/v4/' + $json.jobId + '/details?country=kr' : 'https://jumpit-api.saramin.co.kr/api/position/' + $json.jobId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {}
      },
      "id": "7293f5f8-a770-4181-91ea-53e929b766be",
      "name": "상세 조회 (Detail)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 상세(JD) 응답을 소스별로 파싱해 LLM 프롬프트를 만든다.\n// 목록 단계의 공통 스키마(회사/제목/링크 등)는 Dedup 노드에서 그대로 가져온다.\n// (runOnceForEachItem 모드: 한 건씩 처리)\n\nconst meta = $('중복 제거 (Dedup)').item.json;   // 같은 공고의 정규화 데이터\nconst d = $json;                                 // 상세 API 응답\n\nlet responsibility = '', qualifications = '', preferred = '';\nif (d.result) {                       // 점프잇 상세\n  responsibility = d.result.responsibility || '';\n  qualifications = d.result.qualifications || '';\n  preferred      = d.result.preferredRequirements || '';\n} else if (d.data?.job?.detail) {     // 원티드 상세 (필드명은 실측 후 조정 필요)\n  const det = d.data.job.detail;\n  responsibility = det.main_tasks || det.intro || '';\n  qualifications = det.requirements || '';\n  preferred      = det.preferred_points || '';\n}\n\nconst prompt = `제목: ${meta.title}\\n회사: ${meta.company}\\n\\n[주요업무]\\n${responsibility}\\n\\n[자격요건]\\n${qualifications}\\n\\n[우대사항]\\n${preferred}`;\n\nreturn { json: { ...meta, responsibility, qualifications, preferred, prompt } };\n"
      },
      "id": "4fc6925e-013c-4879-8489-971e1625eb4f",
      "name": "AI 입력 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"kanana-1.5-8b-instruct-2505-mlx\", \"messages\": [ { \"role\": \"system\", \"content\": \"너는 채용공고를 3줄로 요약하고 핵심 자격요건을 뽑는 도우미다. 답변의 맨 마지막 줄에 반드시 '기술스택: 키워드1, 키워드2, ...' 형식으로 공고 본문에 등장한 기술 스택(언어/프레임워크/DB/인프라)을 쉼표로 구분해 나열하라. 언급된 기술이 없으면 '기술스택: -' 로 적어라.\" }, { \"role\": \"user\", \"content\": $json.prompt } ], \"temperature\": 0.3, \"max_tokens\": 800, \"tools\": [] }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "a7371973-199b-4441-a8f3-350add986ba5",
      "name": "AI 요약 (LM Studio)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        300
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// AI 요약 결과 + 공고 메타데이터를 하나의 Markdown 문서로 합친다.\n// aiItems 와 metaItems 는 1:1 같은 순서로 정렬돼 있어 index 로 짝을 맞춘다.\n\nconst aiItems = $input.all();\nconst metaItems = $('AI 입력 준비').all();\n\nconst today = new Date().toISOString().slice(0, 10);\nlet md = `# 채용 공고 요약 (${today})\\n\\n총 ${aiItems.length}건\\n\\n`;\n\nfor (let i = 0; i < aiItems.length; i++) {\n  const meta = metaItems[i]?.json || {};\n  const summary = aiItems[i]?.json?.choices?.[0]?.message?.content\n    || '(요약 실패 - LM Studio 응답 확인 필요)';\n  const career = [meta.minCareer, meta.maxCareer]\n    .filter(v => v !== null && v !== undefined).join('~') || '무관';\n  // 점프잇은 구조화 techStacks, 원티드는 AI 요약의 '기술스택:' 라인에서 추출\n  let stacks = (meta.techStacks || []).join(', ');\n  if (!stacks) {\n    const m = summary.match(/기술스택\\s*[:：]\\s*(.+)/);\n    if (m) { const v = m[1].trim(); if (v && v !== '-') stacks = v; }\n  }\n  stacks = stacks || '-';\n\n  md += `## ${meta.title} — ${meta.company}\\n\\n`;\n  md += `- 링크: ${meta.url}\\n`;\n  md += `- 경력: ${career}\\n`;\n  md += `- 기술스택: ${stacks}\\n`;\n  md += `- 출처: ${meta.source}\\n\\n`;\n  md += `### AI 요약\\n${summary}\\n\\n---\\n\\n`;\n}\n\n// Markdown 문자열을 파일 저장용 바이너리로 변환\nconst binary = await this.helpers.prepareBinaryData(\n  Buffer.from(md, 'utf-8'), 'jobs-summary.md', 'text/markdown');\n\nreturn [{ json: { markdown: md, count: aiItems.length }, binary: { data: binary } }];\n"
      },
      "id": "4174be32-6040-48a6-97c6-6e6ff9a3fe61",
      "name": "Markdown 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/output/jobs-summary.md",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "a97729e5-645d-4a23-ac0c-ae81551795ab",
      "name": "파일 저장",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2420,
        300
      ]
    },
    {
      "parameters": {
        "content": "## 설정 (Config)\n여기 keywords 배열만 고치면 검색어가 바뀝니다.\n예: [\"백엔드\", \"Node.js\", \"파이썬\"]",
        "height": 200,
        "width": 260,
        "color": 4
      },
      "id": "b00c6952-48da-4637-865f-ea399b9c5720",
      "name": "메모: 설정",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        60
      ]
    },
    {
      "parameters": {
        "content": "## 중복 제거 (Dedup)\n워크플로우 static data에 처리한 공고ID를 기억해\n두 번 실행해도 같은 공고를 다시 요약하지 않습니다.\n상세/AI 호출 앞에 두어 자원을 아낍니다.",
        "height": 220,
        "width": 300,
        "color": 5
      },
      "id": "9be4b8a2-3124-4fba-981e-585d77f0347f",
      "name": "메모: 중복 제거",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        40
      ]
    },
    {
      "parameters": {
        "content": "## AI 요약 (LM Studio)\nLM Studio가 호스트에서 실행 중이어야 함.\n(OpenAI 호환 서버 http://host.docker.internal:1234)\n자격증명 없이 순수 HTTP 노드로 호출 -> 임포트 즉시 동작.\n나중에 OpenAI Chat Model 노드로 교체 가능.\n\n상세 조회는 점프잇/원티드 URL을 분기하지만\n원티드 상세 필드명은 실측 후 조정 필요.",
        "height": 300,
        "width": 320,
        "color": 3
      },
      "id": "115897a9-9280-4136-8742-9c223193e12b",
      "name": "메모: LLM 호스트",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1900,
        20
      ]
    }
  ],
  "connections": {
    "매일 09시 트리거": {
      "main": [
        [
          {
            "node": "설정 (Config)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "설정 (Config)": {
      "main": [
        [
          {
            "node": "키워드 분리 (Split Out)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "키워드 분리 (Split Out)": {
      "main": [
        [
          {
            "node": "점프잇 목록",
            "type": "main",
            "index": 0
          },
          {
            "node": "원티드 목록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "점프잇 목록": {
      "main": [
        [
          {
            "node": "목록 병합 (Merge)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "원티드 목록": {
      "main": [
        [
          {
            "node": "목록 병합 (Merge)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "목록 병합 (Merge)": {
      "main": [
        [
          {
            "node": "정규화 (Normalize)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "정규화 (Normalize)": {
      "main": [
        [
          {
            "node": "중복 제거 (Dedup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "중복 제거 (Dedup)": {
      "main": [
        [
          {
            "node": "상세 조회 (Detail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "상세 조회 (Detail)": {
      "main": [
        [
          {
            "node": "AI 입력 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 입력 준비": {
      "main": [
        [
          {
            "node": "AI 요약 (LM Studio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 요약 (LM Studio)": {
      "main": [
        [
          {
            "node": "Markdown 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown 생성": {
      "main": [
        [
          {
            "node": "파일 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}